<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4 class="pull-left">User-Role Agent ID Mapping</h4>
    </div>
    <div class="col-12">
      <form #searchCriteria="ngForm" autocomplete="off" class="row">
        <div class="col-3 m-t-15">
          <!-- <md-input-container class="hide_underline"  >
            <input matInput style="display:none"> -->
          <mat-form-field [style.width]="'100%'">
            <mat-label>Serviceline</mat-label>
            <mat-select
              [(ngModel)]="service"
              name="service"
              required
              #bindService="ngModel"
            >
              <mat-option
                *ngFor="let item of services"
                value="{{ item.serviceID }}"
                (click)="
                  getStates(item.serviceID, item.isNational);
                  setIsNational(item.isNational)
                "
              >
                {{ item.serviceName }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- <md-hint [hidden]=bindService.valid>
              <span class="error_text" *ngIf="!bindService.required  && ( bindService.dirty || bindService.touched)">Please select serviceline</span>
            </md-hint> -->
          <!-- </md-input-container> -->
        </div>
        <div class="col-3 m-t-15">
          <!-- <md-input-container class="hide_underline"  >
            <input matInput style="display:none"> -->
          <mat-form-field [style.width]="'100%'">
            <mat-label>State</mat-label>
            <mat-select
              [disabled]="isNational"
              [(ngModel)]="state"
              name="state"
              #bindState="ngModel"
              required
            >
              <mat-option
                *ngFor="let item of states"
                value="{{ item.stateID }}"
                (click)="getRoles(item.providerServiceMapID)"
              >
                {{ item.stateName }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- <md-hint [hidden]=bindState.valid *ngIf="!isNational">
              <span class="error_text" *ngIf="!bindState.required  && ( bindState.dirty || bindState.touched)">Please select state</span>
            </md-hint> -->
          <!-- </md-input-container> -->
        </div>
        <div class="col-3 m-t-15">
          <!-- <md-input-container class="hide_underline"  >
            <input matInput style="display:none"> -->
          <mat-form-field [style.width]="'100%'">
            <mat-label>Role</mat-label>
            <mat-select
              [(ngModel)]="role"
              name="role"
              (selectionChange)="
                searchEmployee(state, service, role, undefined, undefined)
              "
              #bindRole="ngModel"
              required
            >
              <mat-option *ngFor="let item of roles" value="{{ item.roleID }}">
                {{ item.roleName }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- <md-hint [hidden]=bindRole.valid>
              <span class="error_text" *ngIf="!bindRole.required  && ( bindRole.dirty || bindRole.touched)">Please select role</span>
            </md-hint> -->
          <!-- </md-input-container> -->
        </div>
      </form>
    </div>
  </div>
  <div>
    <div
      style="text-align: end"
      *ngIf="searchResultArray.length !== 0 && showTableFlag"
    >
      <mat-form-field id="filterbox">
        <input
          matInput
          placeholder="In-Table Search"
          #filterTerm
          (keyup)="filterComponentList(filterTerm.value)"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div class="row" *ngIf="showTableFlag">
    <div class="col-xs-12 col-sm-12">
      <div class="table-responsive">
        <table
          mat-table
          class="table table-striped table-hover"
          [dataSource]="filteredsearchResultArray"
        >
          <ng-container matColumnDef="sno">
            <th mat-header-cell *matHeaderCellDef>SNo.</th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ filteredsearchResultArray.data.indexOf(element) + 1 }}
            </td>
          </ng-container>
          <ng-container matColumnDef="employeeName">
            <th mat-header-cell *matHeaderCellDef>Employee Name</th>
            <td mat-cell *matCellDef="let element">
              {{ element.firstName }} {{ element.middleName }}
              {{ element.lastName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef>Login ID</th>
            <td mat-cell *matCellDef="let element">
              {{ element.userName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="agentID">
            <th mat-header-cell *matHeaderCellDef>Agent ID</th>
            <td mat-cell *matCellDef="let element">
              {{ element.agentID }}
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-raised-button
                class="mat_green"
                color="accent"
                (click)="openMappingModal(element)"
              >
                Map AgentID
              </button>
            </td>
          </ng-container>
          <!-- <thead>
            <tr>
              <th width="5%">S.No.</th>
              <th width="25%">Employee Name</th>
              <th width="20%">Login ID</th>
              <th width="20%">Agent ID</th>
              <th width="10%">Actions</th>
            </tr>
          </thead> -->
          <!-- <tbody>
            <tr *ngIf="md2.data.length == 0">
              <td colspan="5" class="record-not-found">No records found</td>
            </tr>
            <tr *ngFor="let item of md2.data; let i= index">
              <td>{{(md2.activePage-1)*4+i+1}}</td>
              <td>{{item.firstName}} {{item.middleName}} {{item.lastName}}</td>
              <td>{{item.userName}}</td>
              <td>{{item.agentID}}</td>
              <td>
                <button md-raised-button color="primary" (click)="openMappingModal(item)">Map AgentID
                </button>
              </td>
            </tr>
          </tbody> -->
          <tfoot>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </tfoot>
        </table>
        <div
          class="pull-center"
          style="margin-top: 35px; text-align: center"
          *ngIf="filteredsearchResultArray.data.length === 0"
        >
          <strong>No Records Found</strong>
        </div>
        <mat-paginator
          [hidden]="filteredsearchResultArray.data.length === 0"
          [pageSizeOptions]="[5, 10, 20]"
          [pageSize]="5"
          showFirstLastButtons
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
