<div class="container-fluid">
  <div class="row" *ngIf="!editMode && !formMode">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4>Service Point Village Mapping</h4>
    </div>

    <div class="col-12">
      <div class="row">
        <form #searForm="ngForm" autocomplete="off" class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
            <mat-form-field [style.width]="'100%'">
              <mat-label>Serviceline</mat-label>
              <mat-select
                required
                name="Services"
                [(ngModel)]="serviceline"
                (selectionChange)="getStates(serviceline.serviceID)"
              >
                <mat-option *ngFor="let item of services_array" [value]="item">
                  {{ item.serviceName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
            <mat-form-field [style.width]="'100%'">
              <mat-label>State</mat-label>
              <mat-select
                required
                [(ngModel)]="searchStateID"
                name="searchStateID"
                (selectionChange)="
                  setProviderServiceMapID(searchStateID.providerServiceMapID);
                  resetform1.reset()
                "
              >
                <mat-option
                  *ngFor="let state of provider_states"
                  [value]="state"
                >
                  {{ state.stateName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
            <mat-form-field [style.width]="'100%'">
              <mat-label>Zone</mat-label>
              <mat-select
                [(ngModel)]="zoneID"
                name="zoneID"
                #zone="ngModel"
                (selectionChange)="
                  getAllParkingPlaces(
                    zoneID.zoneID,
                    searchStateID.providerServiceMapID
                  )
                "
                required
              >
                <mat-option *ngFor="let zone of zones" [value]="zone">
                  {{ zone.zoneName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
            <mat-form-field [style.width]="'100%'" *ngIf="parkAndHub">
              <mat-label>{{ parkAndHub }}</mat-label>
              <mat-select
                [(ngModel)]="parking_Place"
                name="parking_Place"
                (selectionChange)="
                  getServicePoints(
                    searchStateID.stateID,
                    parking_Place.parkingPlaceID
                  )
                "
                #parkingPlace="ngModel"
                required
              >
                <mat-option
                  *ngFor="let parkingPlace of parkingPlaces"
                  [value]="parkingPlace"
                >
                  {{ parkingPlace.parkingPlaceName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </form>
        <form #resetform1="ngForm" class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
            <mat-form-field [style.width]="'100%'" *ngIf="parkAndHub">
              <mat-label>Service Point</mat-label>
              <mat-select
                required
                [(ngModel)]="searchServicePointID"
                name="searchServicePointID"
                #districtV="ngModel"
                (selectionChange)="
                  getServicePointVillageMaps(
                    searchStateID.stateID,
                    parking_Place.parkingPlaceID,
                    searchServicePointID.servicePointID
                  )
                "
              >
                <mat-option
                  *ngFor="let servicePoint of availableServicePoints"
                  [value]="servicePoint"
                >
                  {{ servicePoint.servicePointName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div
    class=""
    style="text-align: end"
    *ngIf="
      showServicePointVillageMaps &&
      availableServicePointVillageMaps.length !== 0
    "
  >
    <mat-form-field id="filterbox">
      <input
        matInput
        placeholder="In-Table Village Search"
        #filterTerm
        (keyup)="filterComponentList(filterTerm.value)"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="row" *ngIf="showServicePointVillageMaps">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="table-responsive">
        <table
          mat-table
          [dataSource]="filteredavailableServicePointVillageMaps"
          class="table table-striped table-hover"
        >
          <!-- S.No. Column -->
          <ng-container matColumnDef="sno">
            <th mat-header-cell *matHeaderCellDef>S.No.</th>
            <td mat-cell *matCellDef="let item; let i = index">{{ i + 1 }}</td>
          </ng-container>

          <!-- Category Code Column -->
          <ng-container matColumnDef="servicePointName">
            <th mat-header-cell *matHeaderCellDef>Service Point</th>
            <td mat-cell *matCellDef="let item">
              {{ item.m_servicepoint.servicePointName }}
            </td>
          </ng-container>

          <!-- Category Name Column -->
          <ng-container matColumnDef="districtName">
            <th mat-header-cell *matHeaderCellDef>District</th>
            <td mat-cell *matCellDef="let item">
              {{ item.m_providerServiceMapping.m_district.districtName }}
            </td>
          </ng-container>

          <!-- Category Description Column -->
          <ng-container matColumnDef="blockName">
            <th mat-header-cell *matHeaderCellDef>Taluk/Sub-District</th>
            <td mat-cell *matCellDef="let item">{{ item.blockName }}</td>
          </ng-container>

          <ng-container matColumnDef="villageName">
            <th mat-header-cell *matHeaderCellDef>Village</th>
            <td mat-cell *matCellDef="let item">{{ item.villageName }}</td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <mat-cell *matCellDef="let servicePointVillageMap">
              <button
                *ngIf="servicePointVillageMap.deleted"
                mat-raised-button
                class="mat_green"
                color="accent"
                (click)="
                  updateServicePointVillageMapStatus(servicePointVillageMap)
                "
              >
                Activate
              </button>
              <button
                *ngIf="!servicePointVillageMap.deleted"
                mat-raised-button
                class="mat_blue"
                color="primary"
                (click)="
                  updateServicePointVillageMapStatus(servicePointVillageMap)
                "
              >
                Deactivate
              </button>
            </mat-cell>
          </ng-container>
          <!-- Header and Row Definitions -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <div>
          <button
            mat-raised-button
            color="primary"
            class="pull-right mat_blue"
            [disabled]="!createButton"
            (click)="showForm(zoneID.zoneID)"
          >
            Add Service Point
          </button>
        </div>
        <div
          class="pull-center"
          style="margin-top: 35px; text-align: center"
          *ngIf="filteredavailableServicePointVillageMaps.data.length === 0"
        >
          <strong>No Records Found</strong>
        </div>
        <mat-paginator
          [hidden]="filteredavailableServicePointVillageMaps.data.length === 0"
          [pageSizeOptions]="[5, 10, 25]"
          [pageSize]="5"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="formMode">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4>Service Point Village Mapping</h4>
    </div>

    <form #servicePointVillageMapForm="ngForm" autocomplete="off" class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
        <mat-form-field [style.width]="'100%'">
          <mat-label>Services</mat-label>
          <mat-select
            required
            name="Services"
            [disabled]="true"
            [(ngModel)]="serviceline"
            (selectionChange)="getStates(serviceline.serviceID)"
          >
            <mat-option *ngFor="let item of services_array" [value]="item">
              {{ item.serviceName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
        <mat-form-field [style.width]="'100%'">
          <mat-label>State</mat-label>
          <mat-select
            required
            [disabled]="true"
            [(ngModel)]="searchStateID"
            name="searchStateID"
            (selectionChange)="
              setProviderServiceMapID(searchStateID.providerServiceMapID)
            "
          >
            <mat-option *ngFor="let state of provider_states" [value]="state">
              {{ state.stateName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
        <mat-form-field [style.width]="'100%'">
          <mat-label>Zone</mat-label>
          <mat-select
            [(ngModel)]="zoneID"
            name="zoneID"
            [disabled]="true"
            #zone="ngModel"
            (selectionChange)="
              getAllParkingPlaces(
                zoneID.zoneID,
                searchStateID.providerServiceMapID
              )
            "
            required
          >
            <mat-option *ngFor="let zone of zones" [value]="zone">
              {{ zone.zoneName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
        <mat-form-field [style.width]="'100%'" *ngIf="parkAndHub">
          <mat-label>{{ parkAndHub }}</mat-label>
          <mat-select
            [(ngModel)]="parking_Place"
            name="parking_Place"
            [disabled]="true"
            (selectionChange)="
              getServicePoints(
                searchStateID.stateID,
                parking_Place.parkingPlaceID
              )
            "
            #parkingPlace="ngModel"
            required
          >
            <mat-option
              *ngFor="let parkingPlace of parkingPlaces"
              [value]="parkingPlace"
            >
              {{ parkingPlace.parkingPlaceName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
        <mat-form-field [style.width]="'100%'">
          <mat-label>Service Point</mat-label>
          <mat-select
            required
            [disabled]="true"
            [(ngModel)]="searchServicePointID"
            name="searchServicePointID"
            #districtV="ngModel"
          >
            <mat-option
              *ngFor="let servicePoint of availableServicePoints"
              [value]="servicePoint"
            >
              {{ servicePoint.servicePointName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 m-t-15">
        <mat-form-field [style.width]="'100%'">
          <mat-label>District</mat-label>
          <mat-select
            [(ngModel)]="district"
            name="district"
            (selectionChange)="
              GetTaluks(parking_Place.parkingPlaceID, district.districtID)
            "
            #mappingDistrict="ngModel"
            required
          >
            <mat-option *ngFor="let item of districts" [value]="item">
              {{ item.districtName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
        <mat-form-field [style.width]="'100%'">
          <mat-label>Taluk/Sub District</mat-label>
          <mat-select
            [(ngModel)]="talukID"
            name="talukID"
            (selectionChange)="
              GetBranches(
                searchStateID.providerServiceMapID,
                talukID.districtBlockID
              )
            "
            required
          >
            <mat-option *ngFor="let taluk of taluks" [value]="taluk">
              {{ taluk.districtBlockName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <form #servicePointVillage="ngForm" autocomplete="off">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
          <mat-form-field [style.width]="'100%'">
            <mat-label>Village</mat-label>
            <mat-select
              multiple
              required
              [(ngModel)]="villageIdList"
              name="villageIdList"
              #villageN="ngModel"
            >
              <mat-option
                *ngFor="let branch of availableVillages"
                [value]="branch"
              >
                {{ branch.villageName }}
              </mat-option>
              <mat-hint [hidden]="villageN.valid">
                <span
                  class="error_text"
                  *ngIf="!villageN && (villageN || villageN)"
                  >Please select Village</span
                >
              </mat-hint>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-12 m-t-20">
          <button
            *ngIf="servicePointVillage.valid && !editable"
            mat-mini-fab
            color="primary"
            class="xs-pull-right sm-pull-right md-pull-left lg-pull-right mat_icon_white"
            (click)="addServicePointVillageMapToList(servicePointVillage.value)"
          >
            <mat-icon
              matSuffix
              class="mat-icon material-icons"
              role="img"
              aria-hidden="true"
              style="cursor: pointer"
              >add</mat-icon
            >
          </button>
        </div>
      </form>
    </form>
    <div
      class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
      *ngIf="servicePointVillageMapList.data.length > 0 && !editMode"
    >
      <div class="table-responsive">
        <table
          mat-table
          [dataSource]="servicePointVillageMapList"
          class="table table-striped table-hover"
        >
          <!-- S.No. Column -->
          <ng-container matColumnDef="sno">
            <th mat-header-cell *matHeaderCellDef>S.No.</th>
            <td mat-cell *matCellDef="let item; let i = index">{{ i + 1 }}</td>
          </ng-container>

          <!-- Category Code Column -->
          <ng-container matColumnDef="parkingPlaceName">
            <th mat-header-cell *matHeaderCellDef>Park And Hub</th>
            <td mat-cell *matCellDef="let item; let i = index">
              {{ item.parkingPlaceName }}
            </td>
          </ng-container>

          <!-- Category Name Column -->
          <ng-container matColumnDef="servicePointName">
            <th mat-header-cell *matHeaderCellDef>Service Point</th>
            <td mat-cell *matCellDef="let item; let i = index">
              {{ item.servicePointName }}
            </td>
          </ng-container>

          <!-- Category Description Column -->
          <ng-container matColumnDef="districtName">
            <th mat-header-cell *matHeaderCellDef>Distric</th>
            <td mat-cell *matCellDef="let item; let i = index">
              {{ item.districtName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="districtBlockName">
            <th mat-header-cell *matHeaderCellDef>Taluk/Sub-District</th>
            <td mat-cell *matCellDef="let item; let i = index">
              {{ item.districtBlockName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="villageName">
            <th mat-header-cell *matHeaderCellDef>Village</th>
            <td mat-cell *matCellDef="let item; let i = index">
              {{ item.villageName }}
            </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td
              mat-cell
              *matCellDef="let servicePointVillageMap; let i = index"
            >
              <mat-icon
                class="cursorPointer"
                matTooltip="delete"
                style="border: unset; background-color: unset"
                (click)="
                  remove_obj(
                    servicePointVillageMapList.data.indexOf(
                      servicePointVillageMap
                    )
                  )
                "
                >delete</mat-icon
              >
            </td>
          </ng-container>
          <!-- Header and Row Definitions -->
          <tr mat-header-row *matHeaderRowDef="displayAddedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayAddedColumns"></tr>
        </table>
        <mat-paginator
          [length]="servicePointVillageMapList.data.length"
          [pageSize]="5"
          [pageSizeOptions]="[5, 10, 20]"
        ></mat-paginator>
      </div>
    </div>
    <div
      class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10 m-b-10"
      style="padding-bottom: 40px"
    >
      <button
        mat-raised-button
        color="primary"
        class="pull-left mat_blue"
        *ngIf="!showServicePointVillageMaps || editMode"
        (click)="back()"
      >
        Back
      </button>
      <button
        [disabled]="servicePointVillageMapList.data.length === 0 || editMode"
        mat-raised-button
        color="accent"
        class="pull-right mat_green"
        (click)="storeServicePointVillageMaps()"
      >
        Save
      </button>
    </div>
  </div>

  <div class="row" *ngIf="editMode">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4>Edit Service Point Village Mapping</h4>
    </div>
    <form #updateServicePointVillageMapForm="ngForm" autocomplete="off">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
        <mat-form-field [style.width]="'100%'">
          <mat-label>Serviceline</mat-label>
          <mat-select
            required
            name="Services"
            [disabled]="true"
            [(ngModel)]="serviceline"
            (selectionChange)="getStates(serviceline.serviceID)"
          >
            <mat-option *ngFor="let item of services_array" [value]="item">
              {{ item.serviceName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
        <mat-form-field [style.width]="'100%'">
          <mat-label>State</mat-label>
          <mat-select
            required
            [disabled]="true"
            [(ngModel)]="searchStateID"
            name="searchStateID"
            (selectionChange)="
              setProviderServiceMapID(searchStateID.providerServiceMapID)
            "
          >
            <mat-option *ngFor="let state of provider_states" [value]="state">
              {{ state.stateName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
        <mat-form-field [style.width]="'100%'">
          <mat-label>Zone</mat-label>
          <mat-select
            [(ngModel)]="zoneID"
            name="zoneID"
            [disabled]="true"
            #zone="ngModel"
            (selectionChange)="
              getAllParkingPlaces(
                zoneID.zoneID,
                searchStateID.providerServiceMapID
              )
            "
            required
          >
            <mat-option *ngFor="let zone of zones" [value]="zone">
              {{ zone.zoneName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
        <mat-form-field [style.width]="'100%'" *ngIf="parkAndHub">
          <mat-label>{{ parkAndHub }}</mat-label>
          <mat-select
            [(ngModel)]="parking_Place"
            name="parking_Place"
            [disabled]="true"
            (selectionChange)="
              getServicePoints(
                searchStateID.stateID,
                parking_Place.parkingPlaceID
              )
            "
            #parkingPlace="ngModel"
            required
          >
            <mat-option
              *ngFor="let parkingPlace of parkingPlaces"
              [value]="parkingPlace"
            >
              {{ parkingPlace.parkingPlaceName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
        <mat-form-field [style.width]="'100%'">
          <mat-label>Service Point</mat-label>
          <mat-select
            required
            [disabled]="true"
            [(ngModel)]="searchServicePointID_edit"
            name="searchServicePointID"
            #districtV="ngModel"
          >
            <mat-option
              *ngFor="let servicePoint of availableServicePoints"
              [value]="servicePoint.servicePointID"
            >
              {{ servicePoint.servicePointName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 m-t-15">
        <mat-form-field [style.width]="'100%'">
          <mat-label>District</mat-label>
          <mat-select
            [(ngModel)]="district"
            name="district"
            [disabled]="true"
            #mappingDistrict="ngModel"
            required
          >
            <mat-option *ngFor="let item of districts" [value]="item">
              {{ item.districtName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
        <mat-form-field [style.width]="'100%'">
          <mat-label>Taluk/Sub District</mat-label>
          <mat-select
            [disabled]="true"
            [(ngModel)]="talukID"
            name="talukID"
            required
          >
            <mat-option *ngFor="let taluk of taluks" [value]="taluk">
              {{ taluk.districtBlockName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <form #servicePointVillage1="ngForm" autocomplete="off">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
          <mat-form-field [style.width]="'100%'">
            <mat-label>Village</mat-label>
            <mat-select
              required
              [(ngModel)]="villageIdList_edit"
              name="villageIdList"
              #villageN="ngModel"
            >
              <mat-option
                *ngFor="let branch of availableVillages"
                [value]="branch"
              >
                {{ branch.villageName }}
              </mat-option>
              <mat-hint [hidden]="villageN.valid">
                <span
                  class="error_text"
                  *ngIf="!villageN && (villageN || villageN)"
                  >Please select Village</span
                >
              </mat-hint>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
    </form>
    <div
      class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-15 m-b-10"
      style="padding-bottom: 40px"
    >
      <button
        mat-raised-button
        color="primary"
        class="pull-left mat_blue"
        (click)="back(); servicePointVillage1.reset()"
      >
        Back
      </button>
      <button
        mat-raised-button
        color="accent"
        class="pull-right mat_green"
        [disabled]="servicePointVillage1.invalid"
        (click)="
          updateStoreServicePointVillageMaps(); servicePointVillage1.reset()
        "
      >
        Update
      </button>
    </div>
  </div>
</div>
