<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="!showForm">
      <h4 class="pull-left">Work Location-Serviceline Master</h4>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="showForm">
      <h4 class="pull-left">Create Work Location</h4>
    </div>
    <div class="col-12">
      <form #searchForm="ngForm" id="searchForm" autocomplete="off" class="row">
        <div class="col-3">
          <mat-form-field [style.width]="'100%'">
            <mat-label>Serviceline</mat-label>
            <mat-select
              [disabled]="disableSelection"
              class="width100"
              required
              [(ngModel)]="search_serviceline"
              name="serviceline"
              (ngModelChange)="getStates(search_serviceline)"
            >
              <mat-option
                *ngFor="let service of servicelines"
                [value]="service"
              >
                {{ service.serviceName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field [style.width]="'100%'">
            <mat-label>State</mat-label>
            <mat-select
              [disabled]="disableSelection || nationalFlag"
              class="width100"
              [(ngModel)]="search_state"
              name="state"
              (ngModelChange)="
                findLocations(
                  search_state.stateID,
                  search_serviceline.serviceID
                );
                setPSMID(search_state.providerServiceMapID);
                setPSMID_onStateSeletion(search_state.providerServiceMapID)
              "
              required
            >
              <mat-option *ngFor="let item of states" [value]="item">
                {{ item.stateName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
    </div>
  </div>

  <div style="text-align: end" *ngIf="workLocations.length !== 0 && showTable">
    <mat-form-field id="filterbox">
      <input
        matInput
        placeholder="In-Table Search"
        #filterTerm
        (keyup)="filterComponentList(filterTerm.value)"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <div class="row" style="margin-bottom: 15px">
    <div class="col-xs-12 col-sm-12 m-t-15 table-responsive" *ngIf="showTable">
      <table
        mat-table
        [dataSource]="filteredworkLocations"
        class="table table-striped table-hover"
      >
        <ng-container matColumnDef="activePage">
          <th mat-header-cell *matHeaderCellDef>S.No.</th>
          <td mat-cell *matCellDef="let element; let i = index">
            {{ i + 1 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="locationName">
          <th mat-header-cell *matHeaderCellDef>Office Name</th>
          <td mat-cell *matCellDef="let element">{{ element.locationName }}</td>
        </ng-container>
        <ng-container matColumnDef="serviceName">
          <th mat-header-cell *matHeaderCellDef>Serviceline</th>
          <td mat-cell *matCellDef="let element">{{ element.serviceName }}</td>
        </ng-container>
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef>Address</th>
          <td mat-cell *matCellDef="let element">{{ element.address }}</td>
        </ng-container>
        <ng-container matColumnDef="stateName">
          <th mat-header-cell *matHeaderCellDef>State</th>
          <td mat-cell *matCellDef="let element">
            {{
              element.serviceName === "1097" ? "All states" : element.stateName
            }}
          </td>
        </ng-container>
        <ng-container matColumnDef="districtName">
          <th mat-header-cell *matHeaderCellDef>District</th>
          <td mat-cell *matCellDef="let element">{{ element.districtName }}</td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef>Edit</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              matTooltip="Click to Edit"
              class="iconbutton"
              color="primary"
              (click)="editOfficeAddress(element)"
              *ngIf="!element.deleted"
              style="border: unset; background-color: unset"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
          <td mat-cell *matCellDef="let element">
            <button
              *ngIf="element.deleted === true"
              mat-raised-button
              class="mat_green"
              color="accent"
              (click)="activeDeactivate(element.pSAddMapID, false)"
            >
              Activate
            </button>
            <button
              *ngIf="element.deleted === false"
              mat-raised-button
              color="primary"
              class="mat_blue"
              (click)="activeDeactivate(element.pSAddMapID, true)"
            >
              Deactivate
            </button>
          </td>
        </ng-container>
      </table>
      <div>
        <button
          mat-raised-button
          color="primary"
          [disabled]="searchForm.invalid"
          class="pull-right mat_blue"
          (click)="changeTableFlag(false)"
        >
          Add Work Location
        </button>
      </div>
      <div
        class="pull-center"
        style="margin-top: 35px; text-align: center"
        *ngIf="filteredworkLocations.data.length === 0"
      >
        <strong>No Records Found</strong>
      </div>
      <mat-paginator
        [hidden]="filteredworkLocations.data.length === 0"
        [pageSizeOptions]="[5, 10, 20]"
        [pageSize]="5"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
  </div>
  <div class="row" *ngIf="showForm">
    <div class="col-12">
      <form #f="ngForm" id="locationForm" autocomplete="off" class="row">
        <div class="col-3" *ngIf="!nationalFlag">
          <mat-form-field [style.width]="'100%'">
            <mat-label>District</mat-label>
            <mat-select
              class="width100"
              [(ngModel)]="district"
              name="district"
              #District="ngModel"
              required
            >
              <mat-option
                *ngFor="let item of districts"
                value="{{ item.districtID }}"
              >
                {{ item.districtName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field class="width100" appMyProviderName>
            <mat-label>Office Name</mat-label>
            <input
              matInput
              [(ngModel)]="OfficeID"
              name="OfficeID"
              #officeId="ngModel"
              required
              maxlength="45"
            />
            <mat-hint>
              <span
                *ngIf="officeId.touched && officeId.errors"
                class="error_text"
                >Office Name is required</span
              >
              <span *ngIf="officeNameExist" class="error_text">{{ msg }}</span>
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field class="width100">
            <mat-label>Office Address Line 1</mat-label>
            <input
              matInput
              appMyAddressDirective
              maxlength="140"
              [(ngModel)]="office_address1"
              name="office_address1"
              #officeAddress1="ngModel"
              required
            />
            <mat-hint *ngIf="officeAddress1.errors && officeAddress1.touched">
              <span class="error_text">Address1 is required</span>
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field class="width100">
            <mat-label>Office Address Line 2</mat-label>
            <input
              matInput
              appMyAddressDirective
              maxlength="140"
              [(ngModel)]="office_address2"
              name="office_address2"
              #officeAddress2="ngModel"
              required
            />
            <mat-hint *ngIf="officeAddress2.errors && officeAddress2.touched">
              <span class="error_text">Address2 is required</span>
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field [style.width]="'100%'">
            <mat-label>ABDM Facility</mat-label>
            <mat-select
              class="width100"
              [(ngModel)]="abdmFacilityId"
              name="abdmFacilityId"
              #AbdmFacilityName="ngModel"
              (ngModelChange)="getFacilityName(abdmFacilityId)"
            >
              <mat-option
                *ngFor="let item of abdmFacilities"
                value="{{ item.id }}"
              >
                {{ item.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
    </div>

    <div
      class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10"
      style="margin-bottom: 20px"
    >
      <button
        class="pull-right mat_green"
        mat-raised-button
        color="accent"
        (click)="saveOfficeAddress(f.value)"
        [disabled]="f.invalid || officeNameExist"
      >
        Save
      </button>
      <button
        class="pull-left mat_blue"
        mat-raised-button
        color="primary"
        (click)="back(true)"
      >
        Back
      </button>
    </div>
  </div>
</div>
