<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="!showFormFlag">
      <h4 class="pull-left">Institute Directory Master</h4>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="showFormFlag">
      <h4 class="pull-left">Create Institute Directory</h4>
    </div>
    <form #searchFields="ngForm" autocomplete="off" class="col-12 row">
      <div class="col-3">
        <mat-form-field [style.width]="'100%'">
          <mat-label>Serviceline</mat-label>
          <mat-select
            disabled="{{ disableSelection }}"
            (selectionChange)="getStates(service)"
            [(ngModel)]="service"
            name="service"
            required
          >
            <mat-option *ngFor="let item of services" [value]="item">
              {{ item.serviceName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field [style.width]="'100%'">
          <mat-label>State</mat-label>
          <mat-select
            [disabled]="disableSelection || nationalFlag"
            [(ngModel)]="state"
            (selectionChange)="
              setProviderServiceMapID(state.providerServiceMapID)
            "
            name="state"
            required
          >
            <mat-option *ngFor="let item of states" [value]="item">
              {{ item.stateName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="m-t-10" *ngIf="showTableFlag">
    <div style="text-align: end" *ngIf="searchResultArray.length !== 0">
      <mat-form-field id="filterbox">
        <input
          matInput
          placeholder="In-Table Search"
          #filterTerm
          (keyup)="filterComponentList(filterTerm.value)"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-15">
        <div class="table-responsive">
          <table
            mat-table
            [dataSource]="dataSource"
            class="table table-striped"
          >
            <ng-container matColumnDef="sno">
              <th mat-header-cell *matHeaderCellDef>S.No.</th>
              <td mat-cell *matCellDef="let element; let i = index">
                {{ i + 1 }}
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="instituteDirectory">
              <th mat-header-cell *matHeaderCellDef>Institute Directory</th>
              <td mat-cell *matCellDef="let element">
                {{ element.instituteDirectoryName }}
              </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef="let element">
                {{ element.instituteDirectoryDesc }}
              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef>Edit</th>
              <td mat-cell *matCellDef="let element">
                <mat-icon
                  mdTooltip="Edit"
                  *ngIf="!element.deleted"
                  class="mat-icon material-icons"
                  role="img"
                  aria-hidden="true"
                  style="cursor: pointer"
                  (click)="openEditModal(element)"
                  >edit</mat-icon
                >
              </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let element">
                <button
                  *ngIf="element.deleted"
                  class="mat_green"
                  mat-raised-button
                  color="accent"
                  (click)="toggle_activate(element.instituteDirectoryID, false)"
                >
                  Activate
                </button>
                <button
                  *ngIf="!element.deleted"
                  class="mat_blue"
                  mat-raised-button
                  color="primary"
                  (click)="toggle_activate(element.instituteDirectoryID, true)"
                >
                  Deactivate
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <div
            class="pull-center"
            style="margin-top: 35px; text-align: center"
            *ngIf="dataSource && dataSource.data.length === 0"
          >
            <strong>No Records Found</strong>
          </div>
          <div>
            <button
              md-raised-button
              color="primary"
              class="pull-right mat_blue"
              (click)="showForm()"
            >
              Add Institute Directory
            </button>
          </div>
          <mat-paginator
            [hidden]="dataSource.data.length === 0"
            [pageSizeOptions]="[5, 10, 20]"
            [pageSize]="5"
            showFirstLastButtons
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showFormFlag">
    <!-- <form #instituteFields="ngForm"> -->
    <div class="col-12">
      <form #instituteDir="ngForm" autocomplete="off" class="row">
        <div class="col-3 m-t-20">
          <mat-form-field [style.width]="'100%'" appMyProviderName>
            <mat-label>Institute Directory</mat-label>
            <input
              matInput
              [(ngModel)]="instituteDirectory"
              name="instituteDirectory"
              minlength="2"
              (keyup)="checkexistance(instituteDirectory)"
              maxlength="50"
              required
              #instituteDirName="ngModel"
            />
            <mat-hint>
              <span
                class="error_text"
                *ngIf="instituteDirName.errors && instituteDirName.touched"
                >Institute directory name is required</span
              >
              <span
                class="error_text"
                *ngIf="!instituteDirName.errors && instituteDirectoryExist"
                >Institute directory already exist</span
              >
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-3 m-t-20">
          <mat-form-field [style.width]="'100%'" appMyProviderName>
            <mat-label>Description</mat-label>
            <input
              matInput
              [(ngModel)]="description"
              name="description"
              maxlength="100"
            />
          </mat-form-field>
        </div>
        <div
          class="col-3 m-t-20"
          *ngIf="instituteDir.valid && !instituteDirectoryExist"
        >
          <button
            md-mini-fab
            color="primary"
            (click)="add_obj(instituteDirectory, description)"
            class="xs-pull-right sm-pull-right md-pull-left mat_icon_white"
          >
            <mat-icon
              mdSuffix
              class="mat-icon material-icons"
              role="img"
              aria-hidden="true"
              style="cursor: pointer"
              >add</mat-icon
            >
          </button>
        </div>
      </form>

      <div
        class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10"
        *ngIf="bufferArray.data.length > 0"
      >
        <div class="table-responsive">
          <table
            mat-table
            [dataSource]="bufferArray"
            class="table table-striped table-hover"
          >
            <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"> -->
            <ng-container matColumnDef="sno">
              <th mat-header-cell *matHeaderCellDef>S.No.</th>
              <td mat-cell *matCellDef="let element; let i = index">
                {{ bufferArray.data.indexOf(element) + 1 }}
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="instituteDirectory">
              <th mat-header-cell *matHeaderCellDef>Institute Directory</th>
              <td mat-cell *matCellDef="let element">
                {{ element.instituteDirectoryName }}
              </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef="let element">
                {{ element.instituteDirectoryDesc }}
              </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let element">
                <mat-icon
                  class="cursorPointer"
                  mdTooltip="delete"
                  (click)="removeObj(bufferArray.data.indexOf(element))"
                  >delete</mat-icon
                >
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayAddedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayAddedColumns"></tr>
            <mat-paginator
              [hidden]="bufferArray.data.length === 0"
              [pageSizeOptions]="[5, 10, 20]"
              [pageSize]="5"
              showFirstLastButtons
            >
            </mat-paginator>
          </table>
        </div>
      </div>
    </div>
    <!-- </form> -->
    <div class="row">
      <div class="col-xs-12 col-sm-12" style="padding-bottom: 40px">
        <div>
          <button
            mat-raised-button
            color="primary"
            class="pull-left mat_blue"
            (click)="back()"
          >
            Back
          </button>
        </div>
        <div>
          <button
            mat-raised-button
            color="accent"
            class="pull-right mat_green"
            [disabled]="bufferArray.data.length < 1 && !searchFields.valid"
            (click)="save()"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
