<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 m-t-15">
      <h4>Bulk User Upload</h4>
    </div>
    <div>
      <button
        mat-raised-button
        color="primary"
        class="pull-right mat_blue ml-10"
        style="margin-right: 10px; margin-top: -10px"
        (click)="downloadMaster()"
        label="sample excel"
      >
        Download Bulk User Template
      </button>
    </div>
    <div class="overlay" *ngIf="showProgressBar">
      <div class="overlay-content">
        <mat-spinner></mat-spinner>
      </div>
    </div>
    <div class="m-t-15" *ngIf="!showUpload">
      <span class="help-block"
        >*This user doesn't have 104 serviceline previlage to upload data</span
      >
    </div>
    <form *ngIf="showUpload">
      <div class="m-t-25">
        <mat-label for="upload-file" *ngIf="file !== undefined"
          >Upload File(Size :{{ file.size / 1024 / 1024 | number: "1.2-2" }}/{{
            maxFileSize
          }}MB)</mat-label
        >
        <mat-label for="upload-file" *ngIf="file === undefined"
          >Upload File(Size :0/{{ maxFileSize }}MB), Supported File
          Formats(.xls, .xlsx, .xlsm, .xlsb)</mat-label
        >
        <input
          class="m-t-10"
          style="margin-left: 60px"
          id="upload-file"
          type="file"
          accept=".xls, .xlsx, .xlsm, .xlsb"
          size="100"
          id="upload-file"
          (change)="onFileUpload($event)"
          name="fileList"
          ngModel
          #uploadfile="ngModel"
        />

        <span class="help-block" *ngIf="invalid_file_flag"
          >Supported File Formats(.xls, .xlsx, .xlsm, .xlsb)</span
        >
        <span class="help-block" *ngIf="error2"
          >File size should not exceed {{ maxFileSize }}MB</span
        >
      </div>
      <div class="m-t-20" style="margin-left: 60px; margin-bottom: 20px">
        <span class="help-block" *ngIf="successcount" style="color: green"
          >{{ fileuploadedCount }} out of {{ filetotalCount }} users created
          successfully ! </span
        ><br />
        <span class="help-block" *ngIf="errorloglist">{{ errorloglist }}</span>
      </div>
    </form>
    <div class="row col-md-12">
      <div class="col-md-3">
        <button
          mat-raised-button
          color="primary"
          class="pull- mat_blue"
          (click)="back()"
        >
          Back
        </button>
      </div>
    </div>
  </div>
</div>
