<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <h4 *ngIf="showListOfParking">Parking Place/Hub Master</h4>
      <h4 *ngIf="!editable && !showListOfParking">Create Parking Place/Hub</h4>
      <h4 *ngIf="editable && !showListOfParking">Edit Parking Place/Hub</h4>
      <form #searchForm="ngForm" autocomplete="off">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
            <!-- <md-input-container class="hide_underline width100">
                          <input matInput style="display:none"> -->
            <mat-form-field [style.width]="'100%'">
              <mat-label>Serviceline</mat-label>
              <mat-select
                (selectionChange)="getStates(service)"
                disabled="{{ disableSelection }}"
                [(ngModel)]="service"
                name="service"
                required
                #bindService="ngModel"
              >
                <mat-option *ngFor="let item of services" [value]="item">
                  {{ item.serviceName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
            <!-- <md-input-container class="hide_underline width100">
                          <input matInput style="display:none"> -->
            <mat-form-field [style.width]="'100%'">
              <mat-label>State</mat-label>
              <mat-select
                [(ngModel)]="state"
                [disabled]="disableSelection"
                (selectionChange)="
                  setProviderServiceMapID(state.providerServiceMapID)
                "
                name="state"
                #bindState="ngModel"
                required
              >
                <mat-option *ngFor="let item of states" [value]="item">
                  {{ item.stateName }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!-- <md-hint [hidden]=bindState.valid *ngIf="showListOfParking">
                              <span class="error_text" *ngIf="!bindState.required  && ( bindState.dirty || bindState.touched)">Please select state</span>
                          </md-hint> -->
            <!-- </md-input-container> -->
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
            <mat-form-field [style.width]="'100%'">
              <mat-label>Zone</mat-label>
              <mat-select
                required
                [(ngModel)]="zoneID"
                name="zoneID"
                [disabled]="disableSelection"
                #zoneG="ngModel"
                (selectionChange)="
                  getParkingPlaces(zoneID.zoneID, state.providerServiceMapID)
                "
              >
                <mat-option *ngFor="let zone of zones" [value]="zone">
                  {{ zone.zoneName }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!-- <md-hint [hidden]=zoneG.valid>
                          <span class="error_text" *ngIf="!zoneG.required  && ( zoneG.dirty || zoneG.touched)">Please select Zone</span>
                        </md-hint>
                      </md-input-container> -->
          </div>
        </div>
      </form>
    </div>
  </div>

  <div
    style="text-align: end"
    *ngIf="
      availableParkingPlaces.length !== 0 &&
      showListOfParking &&
      showTableFlag &&
      !editable
    "
  >
    <mat-form-field id="filterbox">
      <mat-label>In-Table Search</mat-label>
      <input
        matInput
        placeholder="In-Table Search"
        #filterTerm
        (keyup)="filterComponentList(filterTerm.value)"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="row" *ngIf="showListOfParking && showTableFlag && !editable">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10">
      <div class="table-responsive">
        <table
          mat-table
          class="table table-striped table-hover"
          [dataSource]="filteredavailableParkingPlaces"
        >
          <ng-container matColumnDef="sno">
            <th mat-header-cell *matHeaderCellDef>SNo.</th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ i + 1 }}
            </td>
          </ng-container>
          <ng-container matColumnDef="zoneName">
            <th mat-header-cell *matHeaderCellDef>Zone</th>
            <td mat-cell *matCellDef="let element">{{ element.zoneName }}</td>
          </ng-container>
          <ng-container matColumnDef="parkingPlaceName">
            <th mat-header-cell *matHeaderCellDef>{{ parkAndHub }}</th>
            <td mat-cell *matCellDef="let element">
              {{ element.parkingPlaceName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="parkingPlaceDesc">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let element">
              {{ element.parkingPlaceDesc }}
            </td>
          </ng-container>
          <ng-container matColumnDef="areaHQAddress">
            <th mat-header-cell *matHeaderCellDef>Address</th>
            <td mat-cell *matCellDef="let element">
              {{ element.areaHQAddress }}
            </td>
          </ng-container>
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let element">
              <mat-icon
                matTooltip="Edit"
                class="mat-icon material-icons"
                role="img"
                aria-hidden="true"
                style="cursor: pointer"
                *ngIf="!element.deleted"
                (click)="editParkingPlaceData(element)"
                >edit</mat-icon
              >
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
              <button
                *ngIf="element.deleted"
                mat-raised-button
                class="mat_green"
                color="accent"
                (click)="updateParkingPlaceStatus(element)"
              >
                Activate
              </button>
              <button
                *ngIf="!element.deleted"
                mat-raised-button
                class="mat_blue"
                color="primary"
                (click)="updateParkingPlaceStatus(element)"
              >
                Deactivate
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <div>
          <button
            mat-raised-button
            color="primary"
            class="pull-right mat_blue"
            [disabled]="!createButton"
            (click)="showForm()"
          >
            Add Parking Place
          </button>
        </div>
        <div
          class="pull-center"
          style="margin-top: 35px; text-align: center"
          *ngIf="filteredavailableParkingPlaces.data.length === 0"
        >
          <strong>No Records Found</strong>
        </div>
        <mat-paginator
          [hidden]="filteredavailableParkingPlaces.data.length === 0"
          [pageSizeOptions]="[5, 10, 20]"
          [pageSize]="5"
          showFirstLastButtons
        >
        </mat-paginator>
      </div>
      <!-- <pagination-controls (pageChange)="b = $event" id="parkingPlaceListResult"></pagination-controls> -->
    </div>
  </div>
  <div *ngIf="!showListOfParking && (!showParkingPlaces || editable)">
    <div class="col-12">
      <form #parkingPlaceForm="ngForm" autocomplete="off" class="row">
        <div class="col-3 m-t-20">
          <mat-form-field
            [style.width]="'100%'"
            class="input-full-width mat_form_field_width_one"
            appVehicleNO
          >
            <mat-label>{{ parkAndHub }}</mat-label>
            <input
              matInput
              required
              [(ngModel)]="parkingPlaceName"
              name="parkingPlaceName"
              #parkingPlaceN="ngModel"
              minlength="2"
              maxlength="50"
              (keyup)="checkExistance(parkingPlaceName)"
            />
            <mat-hint>
              <span
                class="error_text"
                *ngIf="
                  !parkingPlaceN.valid &&
                  (parkingPlaceN.dirty || parkingPlaceN.touched)
                "
                >{{ parkAndHub }} is required</span
              >
              <span
                class="error_text"
                *ngIf="parkingPlaceN.valid && parkingPlaceNameExist"
                >{{ parkAndHub }} already exists</span
              >
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-3 m-t-20">
          <mat-form-field
            [style.width]="'100%'"
            class="input-full-width mat_form_field_width_one"
            appVehicleNO
          >
            <mat-label>Description</mat-label>
            <input
              matInput
              [(ngModel)]="parkingPlaceDesc"
              name="parkingPlaceDesc"
              maxlength="100"
            />
          </mat-form-field>
        </div>
        <div class="col-3 m-t-20">
          <mat-form-field
            [style.width]="'100%'"
            class="input-full-width mat_form_field_width_one"
          >
            <mat-label>Address</mat-label>
            <input
              required
              matInput
              appMyAddressDirective
              [(ngModel)]="areaHQAddress"
              name="areaHQAddress"
              #parkingPlaceAddress="ngModel"
              minlength="2"
              maxlength="300"
            />
            <mat-hint [hidden]="parkingPlaceAddress.valid">
              <span
                class="error_text"
                *ngIf="
                  parkingPlaceAddress.invalid &&
                  (parkingPlaceAddress.dirty || parkingPlaceAddress.touched)
                "
                >Address is required</span
              >
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-3 m-t-20" style="text-align: center">
          <button
            mat-mini-fab
            color="primary"
            *ngIf="
              parkingPlaceForm.valid && !parkingPlaceNameExist && !editable
            "
            class="xs-pull-right sm-pull-left at-pull-right lg-pull-left mat_icon_white"
            (click)="addParkingPlaceToList(parkingPlaceForm.value)"
          >
            <mat-icon
              matSuffix
              class="mat-icon material-icons"
              role="img"
              aria-hidden="true"
              style="cursor: pointer"
              >add</mat-icon
            >
          </button>
        </div>
      </form>
    </div>
    <div class="row">
      <div
        class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-5"
        *ngIf="parkingPlaceList.data.length > 0"
      >
        <div class="table-responsive">
          <table
            mat-table
            [dataSource]="parkingPlaceList"
            class="table table-striped table-hover"
          >
            <ng-container matColumnDef="sno">
              <th mat-header-cell *matHeaderCellDef>SNo.</th>
              <td mat-cell *matCellDef="let element; let i = index">
                {{ i + 1 }}
              </td>
            </ng-container>
            <ng-container matColumnDef="stateName">
              <th mat-header-cell *matHeaderCellDef>State</th>
              <td mat-cell *matCellDef="let element">
                {{ element.stateName }}
              </td>
            </ng-container>
            <ng-container matColumnDef="zoneName">
              <th mat-header-cell *matHeaderCellDef>Zone</th>
              <td mat-cell *matCellDef="let element">{{ element.zoneName }}</td>
            </ng-container>
            <ng-container matColumnDef="parkingPlaceName">
              <th mat-header-cell *matHeaderCellDef>{{ parkAndHub }}</th>
              <td mat-cell *matCellDef="let element">parkingPlaceName</td>
            </ng-container>
            <ng-container matColumnDef="parkingPlaceDesc">
              <th mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef="let element">
                {{ element.parkingPlaceDesc }}
              </td>
            </ng-container>
            <ng-container matColumnDef="areaHQAddress">
              <th mat-header-cell *matHeaderCellDef>Address</th>
              <td mat-cell *matCellDef="let element">
                {{ element.areaHQAddress }}
              </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let element; let i = index">
                <mat-icon
                  class="cursorPointer"
                  matTooltip="delete"
                  (click)="remove_obj(parkingPlaceList.data.indexOf(element))"
                  >delete</mat-icon
                >
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayAddedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayAddedColumns"></tr>
            <mat-paginator
              [hidden]="parkingPlaceList.data.length === 0"
              [pageSizeOptions]="[5, 10, 20]"
              [pageSize]="5"
              showFirstLastButtons
            >
            </mat-paginator>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div
        class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10 m-b-10"
        style="margin-bottom: 47px"
      >
        <button
          mat-raised-button
          color="primary"
          class="pull-left mat_blue"
          (click)="back()"
        >
          Back
        </button>
        <button
          [disabled]="parkingPlaceList.data.length === 0"
          *ngIf="!editable"
          mat-raised-button
          color="accent"
          class="pull-right mat_green"
          (click)="storeParkingPlaces()"
        >
          Save
        </button>
        <button
          *ngIf="editable"
          mat-raised-button
          color="accent"
          [disabled]="parkingPlaceForm.invalid || parkingPlaceNameExist"
          class="pull-right mat_green"
          (click)="updateParkingPlaceData()"
        >
          Update
        </button>
      </div>
    </div>
  </div>
</div>
