<div class="container-fluid">
  <div class="col-12 row" style="margin-top: 20px">
    <div class="col-3">
      <mat-form-field [style.width]="'100%'">
        <mat-label>Serviceline</mat-label>
        <mat-select
          [(ngModel)]="service"
          name="services"
          (selectionChange)="getStates(service)"
          required
        >
          <mat-option *ngFor="let item of services" [value]="item">
            {{ item.serviceName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field [style.width]="'100%'">
        <mat-label>State</mat-label>
        <mat-select [(ngModel)]="state" name="state" required>
          <mat-option
            *ngFor="let item of states"
            [value]="item"
            (click)="setProviderServiceMapID(item.providerServiceMapID)"
          >
            {{ item.stateName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row" *ngIf="showTableFlag">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4 class="f-s-b m-t-20 m-b-20">SMS Template List</h4>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-responsive">
      <table
        mat-table
        [dataSource]="dataSource"
        class="table table-striped table-hover"
      >
        <ng-container matColumnDef="sno">
          <th mat-header-cell *matHeaderCellDef>S.No</th>
          <td mat-cell *matCellDef="let element">{{ element.sno }}</td>
        </ng-container>

        <ng-container matColumnDef="smsTemplateName">
          <th mat-header-cell *matHeaderCellDef>Template Name</th>
          <td mat-cell *matCellDef="let element">
            {{ element.smsTemplateName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="smsType">
          <th mat-header-cell *matHeaderCellDef>Template Type</th>
          <td mat-cell *matCellDef="let element">
            {{ element.smsType?.smsType || ''}}
          </td>
        </ng-container>

        <ng-container matColumnDef="smsTemplate">
          <th mat-header-cell *matHeaderCellDef>Template</th>
          <td mat-cell *matCellDef="let element">{{ element.smsTemplate }}</td>
        </ng-container>

        <ng-container matColumnDef="view">
          <th mat-header-cell *matHeaderCellDef>View</th>
          <td mat-cell *matCellDef="let element">
            <mat-icon
              class="matIcon mat-icon material-icons cursorPointer"
              role="img"
              aria-hidden="true"
              style="color: gray"
              (click)="view(element)"
              >visibility</mat-icon
            >
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let element">
            <button
              *ngIf="!element.deleted"
              mat-raised-button
              color="primary"
              class="pull-right m-r-0 mat_blue"
              type="button"
              (click)="ActivateDeactivate(element, true)"
            >
              Deactivate
            </button>
            <button
              *ngIf="element.deleted"
              [disabled]="element.deleted"
              mat-raised-button
              color="primary"
              class="pull-right m-r-0 mat_blue"
              type="button"
              (click)="ActivateDeactivate(element, false)"
            >
              Deactivated
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div
        class="pull-center"
        style="margin-top: 35px; text-align: center"
        *ngIf="dataSource.data.length === 0"
      >
        <strong>No Records Found</strong>
      </div>
      <mat-paginator
        [hidden]="dataSource.data.length === 0"
        [pageSizeOptions]="[5, 10, 20]"
        [pageSize]="5"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
    <div>
      <button
        mat-raised-button
        color="primary"
        class="pull-right m-r-0 mat_blue"
        type="button"
        (click)="showForm()"
      >
        Create New SMS Template
      </button>
    </div>
  </div>
  <div class="row" *ngIf="createForm && !viewTemplate">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4 class="f-s-b m-t-20 m-b-20">Create SMS Template</h4>
    </div>

    <div class="">
      <form #smsForm="ngForm" autocomplete="off">
        <div class="row">
          <div class="col-3" myName_space>
            <mat-form-field [style.width]="'100%'">
              <mat-label>Template Name</mat-label>
              <input
                matInput
                appUsernameValidator
                required
                [readonly]="isReadonly"
                ngModel
                name="templateName"
                maxlength="40"
              />
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field [style.width]="'100%'">
              <mat-label>SMS Type</mat-label>
              <mat-select ngModel required name="smsType">
                <mat-option
                  *ngFor="let type of SMS_Types"
                  [value]="type.smsTypeID"
                >
                  {{ type.smsType }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <mat-form-field [style.width]="'100%'" style="width: 100%">
            <mat-label>SMS Template</mat-label>
            <textarea
              matInput
              appSmsTemplateValidator
              rows="5"
              ngModel
              required
              [readonly]="isReadonly"
              minlength="20"
              maxlength="200"
              #sms
              name="smsTemplate"
            ></textarea>
            <mat-hint align="end"
              >{{ sms.value.length ? sms.value.length : 0 }}/200</mat-hint
            >
          </mat-form-field>
        </div>

        <div *ngIf="showParameters">
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <mat-form-field [style.width]="'100%'">
              <mat-label>Select Parameter</mat-label>
              <mat-select
                ngModel
                name="parameter"
                (selectionChange)="getSMSparameters()"
              >
                <mat-option
                  *ngFor="let parameter of Parameters"
                  [value]="parameter"
                >
                  {{ parameter }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <mat-form-field [style.width]="'100%'">
              <mat-label>Select Value Type</mat-label>
              <mat-select
                ngModel
                name="valueType"
                (selectionChange)="
                  setValuesInDropdown(parameterValueType.value)
                "
                #parameterValueType="ngModel"
              >
                <mat-option *ngFor="let type of smsParameters" [value]="type">
                  {{ type.smsParameterType }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <mat-form-field [style.width]="'100%'">
              <mat-label>Select Value</mat-label>
              <mat-select ngModel name="value">
                <mat-option
                  *ngFor="let val of selectedParameterValues"
                  [value]="val"
                >
                  {{ val.smsParameterName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <button
              class="m-t-10 pull-right mat_icon_white"
              color="primary"
              type="button"
              md-mini-fab
              (click)="add(smsForm.value)"
            >
              <mat-icon
                matSuffix
                class="mat-icon material-icons"
                matTooltip="Add"
                role="img"
                aria-hidden="true"
                style="cursor: pointer"
                >add</mat-icon
              >
            </button>
          </div>
          <div
            class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10 table-responsive"
            *ngIf="smsParameterData.data.length > 0"
          >
            <table
              mat-table
              [dataSource]="smsParameterData"
              class="table table-striped table-hover"
            >
              <ng-container matColumnDef="sno">
                <th mat-header-cell *matHeaderCellDef>S.No</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.sno }}
                </td>
              </ng-container>

              <ng-container matColumnDef="smsParameterName">
                <th mat-header-cell *matHeaderCellDef>Parameter</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.smsParameterName }}
                </td>
              </ng-container>

              <ng-container matColumnDef="smsParameterType">
                <th mat-header-cell *matHeaderCellDef>Value Type</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.smsParameterType }}
                </td>
              </ng-container>

              <ng-container matColumnDef="smsParameterValue">
                <th mat-header-cell *matHeaderCellDef>Value</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.smsParameterValue }}
                </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element; let i = index">
                  <mat-icon
                    matTooltip="remove"
                    class="mat-icon material-icons"
                    role="img"
                    aria-hidden="true"
                    style="cursor: pointer"
                    (click)="remove(element, i)"
                    >clear</mat-icon
                  >
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="smsParametersDisplayedColumns"
              ></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: smsParametersDisplayedColumns"
              ></tr>
            </table>
            <mat-paginator
              [hidden]="smsParameterData.data.length === 0"
              [pageSizeOptions]="[5, 10, 20]"
              [pageSize]="5"
              showFirstLastButtons
            >
            </mat-paginator>
          </div>
        </div>
      </form>
    </div>

    <div
      class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10"
      style="margin-bottom: 47px"
    >
      <button
        mat-raised-button
        color="primary"
        type="button"
        class="pull-left m-r-10 mat_blue"
        (click)="showTable()"
      >
        Back
      </button>
      <button
        *ngIf="showParameters"
        mat-raised-button
        color="primary"
        type="button"
        class="pull-left m-r-10 m-l-10 mat_blue"
        (click)="cancel()"
      >
        Cancel
      </button>
      <button
        *ngIf="showParameters"
        mat-raised-button
        color="primary"
        [disabled]="smsParameterData.data.length !== Parameters_count"
        type="button"
        class="pull-right mat_blue"
        (click)="saveSMStemplate(smsForm.value)"
      >
        Submit
      </button>
      <button
        mat-raised-button
        color="primary"
        type="button"
        [disabled]="smsForm.invalid"
        class="pull-right mat_blue"
        *ngIf="!showParameters"
        (click)="extractParameters(sms.value)"
      >
        Continue
      </button>
    </div>
  </div>

  <div class="row" [hidden]="!viewTemplate">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4 class="f-s-b m-t-20 m-b-20">View SMS Template</h4>
    </div>

    <form #smsViewForm="ngForm" autocomplete="off">
      <div class="col-12 row">
        <div class="col-3">
          <mat-form-field [style.width]="'100%'">
            <mat-label>Template Name</mat-label>
            <input matInput required ngModel name="templateName" readonly />
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field [style.width]="'100%'">
            <mat-label>SMS Type</mat-label>
            <input matInput ngModel name="smsType" readonly />
          </mat-form-field>
        </div>
      </div>
      <div class="clearfix"></div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <mat-form-field [style.width]="'100%'">
          <mat-label>SMS Template</mat-label>
          <textarea
            matInput
            rows="5"
            ngModel
            required
            #sms
            name="smsTemplate"
            readonly
          ></textarea>
          <mat-hint align="end"
            >{{ sms.value.length ? sms.value.length : 0 }}/200</mat-hint
          >
        </mat-form-field>
      </div>

      <div
        class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10 table-responsive"
        *ngIf="viewSMSParameterTable.data.length > 0"
      >
        <table
          mat-table
          [dataSource]="viewSMSParameterTable"
          class="table table-striped table-hover"
        >
          <ng-container matColumnDef="sno">
            <th mat-header-cell *matHeaderCellDef>S.No</th>
            <td mat-cell *matCellDef="let element">{{ element.sno }}</td>
          </ng-container>

          <ng-container matColumnDef="smsParameterName">
            <th mat-header-cell *matHeaderCellDef>Parameter</th>
            <td mat-cell *matCellDef="let element">
              {{ element.smsParameterName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="smsParameterType">
            <th mat-header-cell *matHeaderCellDef>Value Type</th>
            <td mat-cell *matCellDef="let element">
              {{ element.smsParameterType }}
            </td>
          </ng-container>

          <ng-container matColumnDef="smsParameterValue">
            <th mat-header-cell *matHeaderCellDef>Value</th>
            <td mat-cell *matCellDef="let element">
              {{ element.smsParameterValue }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="viewSMSparametersColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: viewSMSparametersColumns"
          ></tr>
        </table>
        <mat-paginator
          [hidden]="viewSMSParameterTable.data.length === 0"
          [pageSizeOptions]="[5, 10, 20]"
          [pageSize]="5"
          showFirstLastButtons
        >
        </mat-paginator>
      </div>
      <div>
        <button
          mat-raised-button
          color="primary"
          type="button"
          class="pull-right m-r-0 mat_blue"
          (click)="showTable()"
          style="margin-bottom: 55px"
        >
          Back
        </button>
      </div>
    </form>
  </div>
</div>
