<div class="container-fluid">
  <div class="row" *ngIf="tableMode">
    <div class="col-xs-12 col-sm-12">
      <h4>
        <strong>Supplier Master</strong>
      </h4>
    </div>
    <div class="col-12 p-a-0">
      <form
        id="form"
        #storeSearchForm="ngForm"
        autocomplete="off"
        class="row"
        style="width: 100%; margin-left: 0px"
      >
        <div class="col-3">
          <mat-form-field [style.width]="'100%'" class="hide_underline">
            <mat-label> Serviceline </mat-label>
            <!-- <input matInput style="display: none" /> -->
            <mat-select
              required
              name="Services"
              [(ngModel)]="serviceline"
              (selectionChange)="getstates(serviceline)"
            >
              <mat-option *ngFor="let item of services_array" [value]="item">
                {{ item.serviceName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field [style.width]="'100%'" class="hide_underline">
            <mat-label> State </mat-label>
            <!-- <input matInput style="display: none" /> -->
            <mat-select required name="state" [(ngModel)]="state">
              <mat-option
                *ngFor="let item of states_array"
                [value]="item"
                (click)="getAllSuppliers(item.providerServiceMapID)"
              >
                {{ item.stateName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
    </div>

    <div
      class=""
      style="text-align: end"
      *ngIf="supplierList?.length > 0 && tableMode && providerServiceMapID"
    >
      <mat-form-field id="filterbox" class="">
        <mat-label> In-Table Search </mat-label>
        <input
          matInput
          name="filterTerm"
          [(ngModel)]="create_filterTerm"
          #filterTerm
          (keyup)="filtersupplierList(filterTerm.value)"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

    <div class="col-xs-12 col-sm-12" *ngIf="displayTable">
      <div class="table-responsive">
        <table
          mat-table
          [dataSource]="filteredsupplierList"
          class="table table-striped table-hover"
        >
          <!-- S.No. Column -->
          <ng-container matColumnDef="sno">
            <th mat-header-cell *matHeaderCellDef>S.No.</th>
            <td mat-cell *matCellDef="let supplier; let i = index">
              {{ i + 1 }}
            </td>
          </ng-container>

          <!-- Supplier Name Column -->
          <ng-container matColumnDef="supplierName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Supplier Name
            </th>
            <td mat-cell *matCellDef="let supplier">
              {{ supplier.supplierName }}
            </td>
          </ng-container>

          <!-- Supplier Code Column -->
          <ng-container matColumnDef="supplierCode">
            <th mat-header-cell *matHeaderCellDef>Supplier Code</th>
            <td mat-cell *matCellDef="let supplier">
              {{ supplier.supplierCode }}
            </td>
          </ng-container>

          <!-- Supplier Description Column -->
          <ng-container matColumnDef="supplierDesc">
            <th mat-header-cell *matHeaderCellDef>Supplier Description</th>
            <td mat-cell *matCellDef="let supplier">
              {{ supplier.supplierDesc }}
            </td>
          </ng-container>

          <!-- Drug License No. Column -->
          <ng-container matColumnDef="drugLicenseNo">
            <th mat-header-cell *matHeaderCellDef>Drug License No.</th>
            <td mat-cell *matCellDef="let supplier">
              {{ supplier.drugLicenseNo }}
            </td>
          </ng-container>

          <!-- Contact Person Column -->
          <ng-container matColumnDef="contactPerson">
            <th mat-header-cell *matHeaderCellDef>Contact Person</th>
            <td mat-cell *matCellDef="let supplier">
              {{ supplier.contactPerson }}
            </td>
          </ng-container>

          <!-- TIN No. Column -->
          <ng-container matColumnDef="tIN_No">
            <th mat-header-cell *matHeaderCellDef>TIN No.</th>
            <td mat-cell *matCellDef="let supplier">{{ supplier.tIN_No }}</td>
          </ng-container>

          <!-- Edit Column -->
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let supplier">
              <button
                mat-icon-button
                matTooltip="Edit"
                *ngIf="!supplier.deleted"
                style="border: unset; background-color: unset"
                (click)="editsupplier(supplier)"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let supplier">
              <button
                mat-raised-button
                color="accent"
                class="mat_green"
                *ngIf="supplier.deleted"
                (click)="activate(supplier.supplierID)"
              >
                Activate
              </button>
              <button
                mat-raised-button
                color="primary"
                class="mat_blue"
                *ngIf="!supplier.deleted"
                (click)="deactivate(supplier.supplierID)"
              >
                Deactivate
              </button>
            </td>
          </ng-container>

          <!-- Row with No Records -->
          <tr
            mat-header-row
            *matHeaderRowDef="[
              'sno',
              'supplierName',
              'supplierCode',
              'supplierDesc',
              'drugLicenseNo',
              'contactPerson',
              'tIN_No',
              'edit',
              'action'
            ]"
          ></tr>
          <tr
            mat-row
            *matRowDef="
              let row;
              columns: [
                'sno',
                'supplierName',
                'supplierCode',
                'supplierDesc',
                'drugLicenseNo',
                'contactPerson',
                'tIN_No',
                'edit',
                'action'
              ]
            "
          ></tr>
        </table>

        <!-- Pagination -->
        <div
          *ngIf="filteredsupplierList && filteredsupplierList.data.length === 0"
          style="text-align: center; font-size: 16px"
        >
          <strong class="record-not-found"> No records found</strong>
        </div>
        <div>
          <button
            mat-raised-button
            color="primary"
            *ngIf="createButton"
            class="pull-right mat_blue"
            (click)="showForm()"
          >
            Create Supplier
          </button>
        </div>
        <!-- Pagination -->
        <mat-paginator
          [hidden]="filteredsupplierList.data.length === 0"
          [pageSizeOptions]="[5, 10, 25]"
          [pageSize]="5"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="formMode">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4>
        <strong>Supplier Master</strong>
      </h4>
    </div>
    <div class="col-12">
      <form id="addform" #supplierAddForm1="ngForm" class="row">
        <div class="col-3">
          <mat-form-field [style.width]="'100%'" class="hide_underline">
            <!-- <input matInput style="display: none" /> -->
            <mat-label> Serviceline </mat-label>
            <mat-select
              required
              name="Services"
              [(ngModel)]="serviceline"
              (ngModelChange)="getstates(serviceline)"
            >
              <mat-option *ngFor="let item of services_array" [value]="item">
                {{ item.serviceName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field [style.width]="'100%'" class="hide_underline">
            <!-- <input matInput style="display: none" /> -->
            <mat-label> State </mat-label>
            <mat-select [(ngModel)]="state" name="state" [disabled]="true">
              <mat-option *ngFor="let item of states_array" [value]="item">
                {{ item.stateName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
      <!-- <div class="clearfix visible-md visible-lg"></div> -->
      <form
        id="addform"
        #supplierAddForm="ngForm"
        autocomplete="off"
        class="row"
      >
        <div class="col-3">
          <mat-form-field [style.width]="'100%'">
            <mat-label> Supplier Code </mat-label>
            <input
              matInput
              required
              appPAN
              [(ngModel)]="create_supplierCode"
              minlength="1"
              maxlength="15"
              (blur)="checkExistance(create_supplierCode)"
              name="supplierCode"
              #supplierCode="ngModel"
            />
            <mat-hint
              *ngIf="
                supplierCode.invalid &&
                (supplierCode.dirty || supplierCode.touched)
              "
            >
              <span class="error_text" *ngIf="supplierCode.hasError('required')"
                >Supplier Code is required</span
              >
              <span class="error_text" *ngIf="supplierCode.hasError('unique')"
                >Supplier Code already exists</span
              >
            </mat-hint>
          </mat-form-field>
        </div>

        <div class="col-3">
          <mat-form-field [style.width]="'100%'">
            <mat-label> Supplier Name </mat-label>
            <input
              matInput
              required
              appMyProviderName
              [(ngModel)]="create_supplierName"
              maxlength="100"
              name="supplierName"
              #supplierName="ngModel"
            />
            <mat-hint>
              <span
                class="error_text"
                *ngIf="
                  !supplierName.valid &&
                  (supplierName.dirty || supplierName.touched)
                "
                >Supplier Name is required</span
              >
            </mat-hint>
          </mat-form-field>
        </div>
        <!-- <div class="clearfix visible-md"></div> -->
        <div class="col-3">
          <mat-form-field [style.width]="'100%'">
            <mat-label> Supplier Description </mat-label>
            <input
              matInput
              appVehicleNO
              [(ngModel)]="create_supplierDesc"
              maxlength="100"
              name="supplierDesc"
              #supplierDesc="ngModel"
            />
          </mat-form-field>
        </div>
        <!-- <div class="clearfix visible-lg"></div> -->
        <div class="col-3">
          <mat-form-field [style.width]="'100%'">
            <mat-label> Contact Person </mat-label>
            <input
              matInput
              appMyProviderName
              [(ngModel)]="create_contactPerson"
              maxlength="50"
              name="contactPerson"
              #contactPerson="ngModel"
            />
            <!-- <mat-hint>
            <span class="error_text" *ngIf="contactPerson.errors">Please enter Contact Person</span>
          </mat-hint> -->
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field [style.width]="'100%'">
            <mat-label> DL.No.(Drug License No.) </mat-label>
            <input
              matInput
              appDLNO
              [(ngModel)]="create_drugLicense"
              minlength="1"
              maxlength="15"
              name="drugLicense"
              #drugLicense="ngModel"
            />
            <mat-hint>
              <span class="error_text" *ngIf="drugLicense.errors"
                >Required min 1 max 15 digit DL.No</span
              >
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field [style.width]="'100%'">
            <mat-label> GST No. </mat-label>
            <input
              matInput
              required
              appPAN
              [(ngModel)]="create_cstNo"
              minlength="15"
              maxlength="15"
              [pattern]="gstNoPattern"
              name="cstNo"
              #cstNo="ngModel"
            />
            <!-- <mat-hint>
            <span class="error_text" *ngIf="!cstNo.valid  && ( cstNo.dirty || cstNo.touched)">Required 15 digit GST number</span>
          </mat-hint> -->
            <mat-hint class="errorText" [hidden]="!cstNo.hasError('pattern')"
              >Required 15 digit valid GST number
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field [style.width]="'100%'">
            <mat-label> TIN No. </mat-label>
            <input
              matInput
              appMyMobileNumber
              [(ngModel)]="create_tinNo"
              minlength="12"
              maxlength="12"
              name="tinNo"
              #tinNo="ngModel"
            />
            <mat-hint>
              <span class="error_text" *ngIf="tinNo.errors"
                >Required 12 digit TIN number</span
              >
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field [style.width]="'100%'">
            <mat-label> Address Line 1 </mat-label>
            <input
              matInput
              appMyAddressDirective
              [(ngModel)]="AddressLine1"
              name="addressLine1"
              minlength="2"
              maxlength="100"
              #Address1="ngModel"
              required
            />
            <mat-hint *ngIf="Address1.touched">
              <span class="errorText" [hidden]="!Address1.errors"
                >Address is required</span
              >
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field [style.width]="'100%'">
            <mat-label> Address Line 2 </mat-label>
            <input
              matInput
              appMyAddressDirective
              [(ngModel)]="AddressLine2"
              name="addressLine2"
              minlength="2"
              maxlength="100"
              #Address2="ngModel"
            />
            <mat-hint *ngIf="Address2.touched">
              <span class="errorText" [hidden]="!Address2.errors"
                >Address is required</span
              >
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field [style.width]="'100%'" class="hide_underline">
            <!-- <input matInput style="display: none" /> -->
            <mat-label> Country </mat-label>
            <mat-select
              required
              name="country"
              (selectionChange)="getAllStates(create_country.countryID)"
              [(ngModel)]="create_country"
            >
              <mat-option *ngFor="let item of country_array" [value]="item">
                {{ item.countryName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field [style.width]="'100%'" class="hide_underline">
            <!-- <input matInput style="display: none" /> -->
            <mat-label> State </mat-label>
            <mat-select
              required
              name="state"
              (selectionChange)="getDistricts(create_state.stateID)"
              [disabled]="countryCheck"
              [(ngModel)]="create_state"
            >
              <mat-option
                *ngFor="let item of permnantstates_array"
                [value]="item"
              >
                {{ item.stateName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field [style.width]="'100%'" class="hide_underline">
            <!-- <input matInput style="display: none" /> -->
            <mat-label> District </mat-label>
            <mat-select
              [(ngModel)]="District"
              name="district"
              required
              [disabled]="countryCheck"
            >
              <mat-option
                *ngFor="let item of districts_array"
                [value]="item.districtID"
                >{{ item.districtName }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field [style.width]="'100%'">
            <mat-label> Pincode </mat-label>
            <input
              matInput
              [(ngModel)]="Pincode"
              name="pincode"
              appMyMobileNumber
              minlength="6"
              maxlength="6"
              #Pin="ngModel"
            />
            <mat-hint *ngIf="Pin.touched">
              <span class="errorText" [hidden]="!Pin.errors"
                >Required 6 digit Pincode</span
              >
            </mat-hint>
          </mat-form-field>
        </div>
        <!-- <div class="clearfix visible-lg"></div> -->
        <div class="col-3">
          <mat-form-field [style.width]="'100%'">
            <mat-label> Contact No. </mat-label>
            <input
              matInput
              [(ngModel)]="contactNo"
              name="primaryMobileNo"
              appMyMobileNumber
              [pattern]="mobileNoPattern"
              minlength="10"
              maxlength="10"
              #mobileNo="ngModel"
            />
            <!-- <mat-hint class="errorText" *ngIf="mobileNo.errors">Required 10 digit mobile number
          </mat-hint> -->
            <mat-hint class="errorText" [hidden]="!mobileNo.hasError('pattern')"
              >Required 10 digit valid mobile number
            </mat-hint>
          </mat-form-field>
        </div>

        <div class="col-3">
          <mat-form-field [style.width]="'100%'" appMyMobileNumber>
            <mat-label> Emergency Contact No. </mat-label>
            <input
              matInput
              [(ngModel)]="emergency_contactNo"
              [pattern]="mobileNoPattern"
              name="emergencyContactNo"
              minlength="10"
              maxlength="10"
              #emergencyMobileNo="ngModel"
            />
            <!-- <mat-hint class="errorText" *ngIf="emergencyMobileNo.errors">Required 10 digit mobile number
          </mat-hint> -->
            <mat-hint
              class="errorText"
              [hidden]="!emergencyMobileNo.hasError('pattern')"
              >Required 10 digit valid mobile number
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field [style.width]="'100%'">
            <mat-label> Email </mat-label>
            <input
              matInput
              [(ngModel)]="emailID"
              name="primaryEmail"
              #validEmail="ngModel"
              ngModel
              [pattern]="emailPattern"
            />
            <mat-hint
              class="errorText"
              [hidden]="!validEmail.hasError('pattern')"
              >Enter valid EmailID
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 m-t-10">
          <button
            mat-mini-fab
            class="xs-pull-right sm-pull-right md-pull-right lg-pull-left mat_icon_white"
            *ngIf="!editMode && supplierAddForm.valid"
            color="primary"
            (click)="
              add2buffer(supplierAddForm.value);
              this.supplierAddForm.reset();
              permnantstates_array = [];
              districts_array = []
            "
          >
            <mat-icon
              matSuffix
              class="mat-icon material-icons"
              role="img"
              aria-hidden="true"
              style="cursor: pointer"
              >add</mat-icon
            >
          </button>
        </div>
      </form>
    </div>
    <div class="col-xs-12 col-sm-12 m-t-15" *ngIf="bufferArray.data.length > 0">
      <div class="table-responsive">
        <table
          mat-table
          [dataSource]="bufferArray"
          class="table table-striped table-hover"
        >
          <!-- S.No. Column -->
          <ng-container matColumnDef="sno">
            <th mat-header-cell *matHeaderCellDef>S.No.</th>
            <td mat-cell *matCellDef="let item; let i = index">{{ i + 1 }}</td>
          </ng-container>

          <!-- Supplier Code Column -->
          <ng-container matColumnDef="supplierCode">
            <th mat-header-cell *matHeaderCellDef>Supplier Code</th>
            <td mat-cell *matCellDef="let item; let i = index">
              {{ item.supplierCode }}
            </td>
          </ng-container>

          <!-- Supplier Name Column -->
          <ng-container matColumnDef="supplierName">
            <th mat-header-cell *matHeaderCellDef>Supplier Name</th>
            <td mat-cell *matCellDef="let item; let i = index">
              {{ item.supplierName }}
            </td>
          </ng-container>

          <!-- Supplier Description Column -->
          <ng-container matColumnDef="supplierDesc">
            <th mat-header-cell *matHeaderCellDef>Supplier Description</th>
            <td mat-cell *matCellDef="let item; let i = index">
              {{ item.supplierDesc }}
            </td>
          </ng-container>

          <!-- Drug License No. Column -->
          <ng-container matColumnDef="drugLicenseNo">
            <th mat-header-cell *matHeaderCellDef>Drug License No.</th>
            <td mat-cell *matCellDef="let item; let i = index">
              {{ item.drugLicenseNo }}
            </td>
          </ng-container>

          <!-- GST No. Column -->
          <ng-container matColumnDef="cST_GST_No">
            <th mat-header-cell *matHeaderCellDef>GST No.</th>
            <td mat-cell *matCellDef="let item; let i = index">
              {{ item.cST_GST_No }}
            </td>
          </ng-container>

          <!-- TIN No. Column -->
          <ng-container matColumnDef="tIN_No">
            <th mat-header-cell *matHeaderCellDef>TIN No.</th>
            <td mat-cell *matCellDef="let item; let i = index">
              {{ item.tIN_No }}
            </td>
          </ng-container>

          <!-- State Column -->
          <ng-container matColumnDef="stateName">
            <th mat-header-cell *matHeaderCellDef>State</th>
            <td mat-cell *matCellDef="let item; let i = index">
              {{ item.stateName }}
            </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let item; let i = index">
              <button
                mat-icon-button
                matTooltip="Delete"
                style="border: unset; background-color: unset"
                (click)="removeRow(i)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- Header and Row Definitions -->
          <tr
            mat-header-row
            *matHeaderRowDef="[
              'sno',
              'supplierCode',
              'supplierName',
              'supplierDesc',
              'drugLicenseNo',
              'cST_GST_No',
              'tIN_No',
              'stateName',
              'action'
            ]"
          ></tr>
          <tr
            mat-row
            *matRowDef="
              let row;
              columns: [
                'sno',
                'supplierCode',
                'supplierName',
                'supplierDesc',
                'drugLicenseNo',
                'cST_GST_No',
                'tIN_No',
                'stateName',
                'action'
              ]
            "
          ></tr>
        </table>

        <!-- Pagination -->
        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 m-t-15 m-b-15" style="padding-bottom: 40px">
      <button
        mat-raised-button
        color="primary"
        class="pull-left mat_blue"
        (click)="
          showTable();
          supplierAddForm.reset();
          districts_array = [];
          permnantstates_array = []
        "
      >
        Back
      </button>
      <button
        mat-raised-button
        color="accent"
        [disabled]="!(bufferArray.data.length > 0)"
        class="pull-right mat_green"
        (click)="
          saveSupplier();
          supplierAddForm.reset();
          districts_array = [];
          permnantstates_array = []
        "
      >
        Save
      </button>
      <button
        mat-raised-button
        color="primary"
        class="pull-right m-r-5 mat_blue"
        (click)="
          supplierAddForm.reset();
          districts_array = [];
          permnantstates_array = []
        "
      >
        Clear
      </button>
    </div>
  </div>
  <div class="row" *ngIf="editMode">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4>
        <strong>Edit Supplier</strong>
      </h4>
    </div>
    <div class="col-12">
      <form
        id="addform"
        #supplierEditForm="ngForm"
        autocomplete="off"
        class="row"
      >
        <div class="col-3">
          <mat-form-field [style.width]="'100%'" class="hide_underline">
            <!-- <input matInput style="display: none" /> -->
            <mat-label> Serviceline </mat-label>
            <mat-select
              required
              name="Services"
              [disabled]="true"
              [(ngModel)]="edit_serviceline"
              (selectionChange)="getstates(serviceline)"
            >
              <mat-option
                *ngFor="let item of services_array"
                [value]="item.serviceID"
              >
                {{ item.serviceName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field [style.width]="'100%'" class="hide_underline">
            <!-- <input matInput style="display: none" /> -->
            <mat-label> State </mat-label>
            <mat-select
              required
              name="state"
              [disabled]="true"
              [(ngModel)]="edit_state"
            >
              <mat-option
                *ngFor="let item of states_array"
                [value]="item.stateID"
              >
                {{ item.stateName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- <div class="clearfix visible-md visible-lg"></div> -->
        <div class="col-3">
          <mat-form-field [style.width]="'100%'">
            <mat-label> Supplier Code </mat-label>
            <input
              matInput
              required
              appPAN
              [(ngModel)]="edit_supplierCode"
              [disabled]="true"
              maxlength="100"
              name="supplierCode"
              #supplierCode="ngModel"
            />
            <mat-hint>
              <span
                class="error_text"
                *ngIf="
                  !supplierCode.valid &&
                  (supplierCode.dirty || supplierCode.touched)
                "
                >Please enter Supplier Code</span
              >
            </mat-hint>
          </mat-form-field>
        </div>

        <div class="col-3">
          <mat-form-field [style.width]="'100%'">
            <mat-label> Supplier Name </mat-label>
            <input
              matInput
              required
              appMyProviderName
              [(ngModel)]="edit_supplierName"
              [disabled]="true"
              maxlength="100"
              name="supplierName"
              #supplierName="ngModel"
            />
            <mat-hint>
              <span
                class="error_text"
                *ngIf="
                  !supplierName.valid &&
                  (supplierName.dirty || supplierName.touched)
                "
                >Please enter Supplier Name</span
              >
            </mat-hint>
          </mat-form-field>
        </div>
        <!-- <div class="clearfix visible-md"></div> -->
        <div class="col-3">
          <mat-form-field [style.width]="'100%'">
            <mat-label> Supplier Description </mat-label>
            <input
              matInput
              appVehicleNO
              [(ngModel)]="edit_supplierDesc"
              maxlength="100"
              name="supplierDesc"
              #supplierDesc="ngModel"
            />
            <!-- <mat-hint>
            <span class="error_text" *ngIf="!supplierDesc.valid  && ( supplierDesc.dirty || supplierDesc.touched)">Please enter Supplier Discription</span>
          </mat-hint> -->
          </mat-form-field>
        </div>
        <!-- <div class="clearfix visible-lg"></div> -->
        <div class="col-3">
          <mat-form-field [style.width]="'100%'">
            <mat-label> Contact Person </mat-label>
            <input
              matInput
              appMyProviderName
              [(ngModel)]="edit_contactPerson"
              maxlength="100"
              name="contactPerson"
              #contactPerson="ngModel"
            />
            <mat-hint>
              <span class="error_text" *ngIf="contactPerson.errors"
                >Please enter Contact Person</span
              >
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field [style.width]="'100%'">
            <mat-label> DL.No.(Drug License No.) </mat-label>
            <input
              matInput
              appDLNO
              [(ngModel)]="edit_drugLicense"
              maxlength="15"
              name="drugLicense"
              #drugLicense="ngModel"
            />
            <mat-hint>
              <span class="error_text" *ngIf="drugLicense.errors"
                >Required min 1 max 15 digit DL.No
              </span>
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field [style.width]="'100%'">
            <mat-label> GST No. </mat-label>
            <input
              matInput
              required
              appPAN
              [(ngModel)]="edit_cstNo"
              minlength="15"
              maxlength="15"
              name="cstNo"
              [pattern]="gstNoPattern"
              #cstNo="ngModel"
            />
            <!-- <mat-hint>
            <span class="error_text" *ngIf="!cstNo.valid  && ( cstNo.dirty || cstNo.touched)">Required 15 digit GST number</span>
          </mat-hint> -->
            <mat-hint class="errorText" [hidden]="!cstNo.hasError('pattern')"
              >Required 15 digit valid GST number
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field [style.width]="'100%'">
            <mat-label> TIN No. </mat-label>
            <input
              matInput
              appMyMobileNumber
              [(ngModel)]="edit_tinNo"
              minlength="12"
              maxlength="12"
              name="tinNo"
              #tinNo="ngModel"
            />
            <mat-hint>
              <span class="error_text" *ngIf="tinNo.errors"
                >Required 12 digit TIN number</span
              >
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field [style.width]="'100%'">
            <mat-label> Address Line 1 </mat-label>
            <input
              matInput
              appMyAddressDirective
              [(ngModel)]="edit_AddressLine1"
              name="addressLine1"
              minlength="2"
              #Address1="ngModel"
              required
            />
            <mat-hint *ngIf="Address1.touched">
              <span class="errorText" [hidden]="!Address1.errors"
                >Address is required</span
              >
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field [style.width]="'100%'">
            <mat-label> Address Line 2 </mat-label>
            <input
              matInput
              appMyAddressDirective
              [(ngModel)]="edit_AddressLine2"
              name="addressLine2"
              minlength="2"
              maxlength="100"
              #Address2="ngModel"
            />
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field [style.width]="'100%'" class="hide_underline">
            <!-- <input matInput style="display: none" /> -->
            <mat-label>Country</mat-label>
            <mat-select
              required
              name="country"
              [(ngModel)]="edit_country"
              (selectionChange)="getAllStates(edit_country)"
            >
              <mat-option
                *ngFor="let item of country_array"
                [value]="item.countryID"
              >
                {{ item.countryName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field [style.width]="'100%'" class="hide_underline">
            <!-- <input matInput style="display: none" /> -->
            <mat-label>State</mat-label>
            <mat-select
              required
              name="edit_state1"
              [(ngModel)]="edit_state1"
              (selectionChange)="getDistricts(edit_state1)"
            >
              <mat-option
                *ngFor="let item of permnantstates_array"
                [value]="item.stateID"
              >
                {{ item.stateName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field [style.width]="'100%'" class="hide_underline">
            <!-- <input matInput style="display: none" /> -->
            <mat-label> District </mat-label>
            <mat-select
              [(ngModel)]="edit_district"
              name="edit_district"
              required
            >
              <mat-option
                *ngFor="let item of districts_array"
                [value]="item.districtID"
                >{{ item.districtName }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field [style.width]="'100%'" appMyMobileNumber>
            <mat-label> Pincode </mat-label>
            <input
              matInput
              [(ngModel)]="edit_Pincode"
              name="pincode"
              minlength="6"
              maxlength="6"
              #Pin="ngModel"
            />
            <mat-hint *ngIf="Pin.touched">
              <span class="errorText" [hidden]="!Pin.errors"
                >Required 6 digit Pincode</span
              >
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="clearfix visible-lg"></div>
        <div class="col-3">
          <mat-form-field [style.width]="'100%'" appMyMobileNumber>
            <mat-label> Contact No. </mat-label>
            <input
              matInput
              [(ngModel)]="edit_contactNo"
              name="primaryMobileNo"
              minlength="10"
              [pattern]="mobileNoPattern"
              maxlength="10"
              #mobileNo="ngModel"
            />
            <!-- <mat-hint class="errorText" *ngIf="mobileNo.errors">Required 10 digit mobile number
          </mat-hint> -->
            <mat-hint class="errorText" [hidden]="!mobileNo.hasError('pattern')"
              >Required 10 digit valid mobile number
            </mat-hint>
          </mat-form-field>
        </div>

        <div class="col-3">
          <mat-form-field [style.width]="'100%'" appMyMobileNumber>
            <mat-label> Emergency Contact No. </mat-label>
            <input
              matInput
              [(ngModel)]="edit_emergencyContactNo"
              name="emergencyContactNo"
              [pattern]="mobileNoPattern"
              minlength="10"
              maxlength="10"
              #emergencyMobileNo="ngModel"
              [pattern]="mobileNoPattern"
            />
            <!-- <mat-hint class="errorText" *ngIf="emergencyMobileNo.errors">Required 10 digit mobile number
          </mat-hint> -->

            <mat-hint
              class="errorText"
              [hidden]="!emergencyMobileNo.hasError('pattern')"
              >Required 10 digit valid mobile number
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field [style.width]="'100%'">
            <mat-label> Email </mat-label>
            <input
              matInput
              [(ngModel)]="edit_emailID"
              name="primaryEmail"
              #validEmail="ngModel"
              [pattern]="emailPattern"
            />
            <mat-hint
              class="errorText"
              [hidden]="!validEmail.hasError('pattern')"
              >Enter valid EmailID
            </mat-hint>
          </mat-form-field>
        </div>
      </form>
      <div class="col-12" style="padding-bottom: 60px">
        <button
          mat-raised-button
          color="primary"
          class="pull-left mat_blue"
          (click)="showTable(); permnantstates_array = []; districts_array = []"
        >
          Back
        </button>
        <button
          *ngIf="editMode"
          mat-raised-button
          color="accent"
          class="pull-right mat_green"
          [disabled]="supplierEditForm.invalid"
          (click)="updatesupplier(supplierEditForm.value)"
        >
          Update
        </button>
      </div>
    </div>
  </div>
</div>
