<div class="container-fluid">
  <!-- <md-card> -->
  <div
    class="row"
    *ngIf="showEmployeeParkingPlaceMappings && !editable && !editMode"
  >
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4>User Parking Place Mapping</h4>
    </div>

    <div class="col-12">
      <form #searForm="ngForm" autocomplete="off" class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
          <mat-form-field [style.width]="'100%'">
            <mat-label>Serviceline</mat-label>
            <mat-select
              required
              name="Services"
              [disabled]="formMode"
              [(ngModel)]="serviceline"
              (selectionChange)="
                getStates(serviceline.serviceID);
                resetform1.reset();
                resetform.reset()
              "
            >
              <mat-option *ngFor="let item of services_array" [value]="item">
                {{ item.serviceName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
          <mat-form-field [style.width]="'100%'">
            <mat-label>State</mat-label>
            <mat-select
              required
              [disabled]="formMode"
              [(ngModel)]="searchStateID"
              name="searchStateID"
              (selectionChange)="
                setProviderServiceMapID(searchStateID.providerServiceMapID);
                resetform1.reset()
              "
            >
              <mat-option *ngFor="let state of provider_states" [value]="state">
                {{ state.stateName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <form #resetform="ngForm" class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
            <mat-form-field [style.width]="'100%'">
              <mat-label>Zone</mat-label>
              <mat-select
                required
                [disabled]="formMode"
                class="width100"
                [(ngModel)]="zoneID"
                name="zoneID"
                #zoneG="ngModel"
                (selectionChange)="
                  getAllParkingPlaces(
                    zoneID.zoneID,
                    searchStateID.providerServiceMapID
                  )
                "
              >
                <mat-option *ngFor="let zone of zones" [value]="zone">
                  {{ zone.zoneName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
            <mat-form-field [style.width]="'100%'" *ngIf="parkAndHub">
              <mat-label>{{ parkAndHub }}</mat-label>
              <mat-select
                class="width100"
                [(ngModel)]="parking_Place"
                name="parking_Place"
                [disabled]="formMode"
                (selectionChange)="getDesignations()"
                #parkingPlace="ngModel"
                required
              >
                <mat-option
                  *ngFor="let parkingPlace of availableParkingPlaces"
                  [value]="parkingPlace"
                >
                  {{ parkingPlace.parkingPlaceName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </form>

        <form #resetform1="ngForm" class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
            <mat-form-field [style.width]="'100%'" *ngIf="parkAndHub">
              <mat-label>Designation</mat-label>
              <mat-select
                required
                class="width100"
                (selectionChange)="
                  getEmployeeParkingPlaceMappings(
                    searchStateID,
                    designationID.designationID
                  );
                  selectedParkingPlace(
                    serviceline.serviceID,
                    parking_Place.parkingPlaceID,
                    searchStateID.providerServiceMapID,
                    designationID
                  )
                "
                [(ngModel)]="designationID"
                name="designationID"
                #designationVal="ngModel"
              >
                <mat-option
                  *ngFor="let designation of designations"
                  [value]="designation"
                >
                  {{ designation.designationName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </form>
        <form #searchForm="ngForm" autocomplete="off" class="row">
          <div
            class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15"
            *ngIf="formMode"
          >
            <mat-form-field [style.width]="'100%'">
              <mat-label>Username</mat-label>
              <mat-select
                required
                class="width100"
                [(ngModel)]="userID"
                name="userID"
                #userVal="ngModel"
              >
                <mat-option
                  *ngFor="let userName of userNames"
                  [value]="userName"
                >
                  {{ userName.userName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div
            class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15"
            *ngIf="formMode && enableVanField"
          >
            <mat-form-field [style.width]="'100%'">
              <mat-label>Van</mat-label>
              <mat-select
                multiple
                required
                class="width100"
                [(ngModel)]="vanUnderPP"
                name="vanUnderPP"
                #ppVan="ngModel"
              >
                <mat-option *ngFor="let van of availableVans" [value]="van">
                  {{ van.vanName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </form>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 m-t-20">
          <button
            mat-mini-fab
            color="primary"
            class="xs-pull-right sm-pull-right md-pull-right lg-pull-left mat_icon_white"
            *ngIf="formMode && searchForm.valid"
            (click)="
              addParkingPlaceMapping(searchForm.value); this.searchForm.reset()
            "
          >
            <mat-icon
              matSuffix
              class="mat-icon material-icons"
              role="img"
              aria-hidden="true"
              style="cursor: pointer"
              >add</mat-icon
            >
          </button>
        </div>
      </form>
    </div>
    <div
      class="col-xs-12 col-sm-12 m-t-10"
      *ngIf="employeeParkingPlaceMappingList.data.length > 0 && formMode"
    >
      <div class="table-responsive">
        <table
          mat-table
          [dataSource]="employeeParkingPlaceMappingList"
          class="table table-striped table-hover"
        >
          <ng-container matColumnDef="SNo">
            <th mat-header-cell *matHeaderCellDef>S.No.</th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ i + 1 }}
            </td>
          </ng-container>
          <ng-container matColumnDef="parkingPlaceName">
            <th mat-header-cell *matHeaderCellDef>Parking And Hub</th>
            <td mat-cell *matCellDef="let element">
              {{ element.parkingPlaceName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="designationName">
            <th mat-header-cell *matHeaderCellDef>Designation</th>
            <td mat-cell *matCellDef="let element">
              {{ element.designationName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef>User Name</th>
            <td mat-cell *matCellDef="let element">{{ element.userName }}</td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let element">
              <mat-icon
                class="cursorPointer"
                matTooltip="delete"
                (click)="
                  deleteRow(
                    employeeParkingPlaceMappingList.data.indexOf(element)
                  )
                "
                >delete</mat-icon
              >
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
        </table>
        <div
          *ngIf="
            employeeParkingPlaceMappingList &&
            employeeParkingPlaceMappingList.data.length === 0
          "
          style="text-align: center; font-size: 16px"
        >
          <strong>No Records Found</strong>
        </div>

        <div style="text-align: right">
          <mat-paginator
            #paginatorFirst
            [hidden]="employeeParkingPlaceMappingList.data.length === 0"
            [pageSizeOptions]="[5, 10, 25]"
            [pageSize]="5"
            showFirstLastButtons
          ></mat-paginator>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12" style="padding-bottom: 45px">
      <button
        mat-raised-button
        color="accent"
        *ngIf="formMode"
        class="pull-right mat_green"
        [disabled]="!(employeeParkingPlaceMappingList.data.length > 0)"
        (click)="saveParkingMpping()"
      >
        Save
      </button>
      <button
        mat-raised-button
        color="primary"
        *ngIf="formMode || editMode"
        class="pull-left mat_blue"
        (click)="back()"
      >
        Back
      </button>
    </div>
  </div>

  <div *ngIf="editMode" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 2px;">
    <h4>Edit User Parking Place Mapping</h4>
  </div>

  <div class="row" *ngIf="editMode" style="width: 100%; margin-left: 0px">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-a-0">
      <form #updateForm="ngForm" autocomplete="off">
        <div class="col-12 row">
          <div class="col-3">
            <mat-form-field [style.width]="'100%'">
              <mat-label>Serviceline</mat-label>
              <mat-select
                required
                name="Services"
                [disabled]="editMode"
                [(ngModel)]="serviceline"
                (selectionChange)="getStates(serviceline.serviceID)"
              >
                <mat-option *ngFor="let item of services_array" [value]="item">
                  {{ item.serviceName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field [style.width]="'100%'">
              <mat-label>State</mat-label>
              <mat-select
                required
                [disabled]="editMode"
                [(ngModel)]="searchStateID"
                name="searchStateID"
                (selectionChange)="
                  setProviderServiceMapID(searchStateID.providerServiceMapID)
                "
              >
                <mat-option
                  *ngFor="let state of provider_states"
                  [value]="state"
                >
                  {{ state.stateName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field [style.width]="'100%'">
              <mat-label>Zone</mat-label>
              <mat-select
                required
                [disabled]="editMode"
                class="width100"
                [(ngModel)]="zoneID"
                name="zoneID"
                #zoneG="ngModel"
              >
                <mat-option *ngFor="let zone of zones" [value]="zone">
                  {{ zone.zoneName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field [style.width]="'100%'" *ngIf="parkAndHub">
              <mat-label>{{ parkAndHub }}</mat-label>
              <mat-select
                class="width100"
                [(ngModel)]="parking_Place"
                name="parking_Place"
                #parkingPlace="ngModel"
                required
                (selectionChange)="
                  getVans(
                    searchStateID.providerServiceMapID,
                    parking_Place.parkingPlaceID
                  )
                "
              >
                <mat-option
                  *ngFor="let parkingPlace of availableParkingPlaces"
                  [value]="parkingPlace"
                >
                  {{ parkingPlace.parkingPlaceName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-12 row">
          <div class="col-3">
            <mat-form-field [style.width]="'100%'">
              <mat-label>Designation</mat-label>
              <mat-select
                required
                [disabled]="editMode"
                class="width100"
                [(ngModel)]="designationID"
                name="designationID"
                #designationVal="ngModel"
              >
                <mat-option
                  *ngFor="let designation of designations"
                  [value]="designation"
                >
                  {{ designation.designationName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field [style.width]="'100%'">
              <mat-label>Username</mat-label>
              <mat-select
                required
                [disabled]="editMode"
                class="width100"
                [(ngModel)]="userID"
                name="userID"
                #userVal="ngModel"
              >
                <mat-option
                  *ngFor="let userName of userNames"
                  [value]="userName"
                >
                  {{ userName.userName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-3" *ngIf="enableVanField">
            <mat-form-field [style.width]="'100%'">
              <mat-label>Van</mat-label>
              <mat-select
                multiple
                required
                class="width100"
                [(ngModel)]="vanUnderPP"
                name="vanUnderPP"
                #ppVan="ngModel"
              >
                <mat-option *ngFor="let van of availableVans" [value]="van">
                  {{ van.vanName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-a-0">
      <button
        mat-raised-button
        color="accent"
        *ngIf="editMode"
        class="pull-right mat_green"
        [disabled]="updateForm.invalid"
        (click)="updateParkingPlace()"
      >
        Update
      </button>
      <button
        mat-raised-button
        color="primary"
        *ngIf="editMode"
        class="pull-left mat_blue"
        (click)="back()"
      >
        Back
      </button>
    </div>
  </div>
  <div>
    <div
      class=""
      style="text-align: end"
      *ngIf="
        tableMode &&
        !formMode &&
        !editMode &&
        availableEmployeeParkingPlaceMappings.length !== 0
      "
    >
      <mat-form-field id="filterbox">
        <input
          matInput
          placeholder="In-Table Search"
          #filterTerm
          (keyup)="filterComponentList(filterTerm.value)"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <form class="c-b" autocomplete="off">
        <div
          class="table-responsive"
          *ngIf="tableMode && !formMode && !editMode"
        >
          <table
            mat-table
            [dataSource]="this.filteredavailableEmployeeParkingPlaceMappings"
            class="table table-striped table-hover"
          >
            <ng-container matColumnDef="SNo">
              <th mat-header-cell *matHeaderCellDef>S.No.</th>
              <td mat-cell *matCellDef="let element; let i = index">
                {{ i + 1 }}
              </td>
            </ng-container>
            <ng-container matColumnDef="parkingPlaceName">
              <th mat-header-cell *matHeaderCellDef>Parking And Hub</th>
              <td mat-cell *matCellDef="let element">
                {{ element.parkingPlaceName }}
              </td>
            </ng-container>
            <ng-container matColumnDef="designationName">
              <th mat-header-cell *matHeaderCellDef>Designation</th>
              <td mat-cell *matCellDef="let element">
                {{ element.designationName }}
              </td>
            </ng-container>

            <ng-container matColumnDef="userName">
              <th mat-header-cell *matHeaderCellDef>User Name</th>
              <td mat-cell *matCellDef="let element">{{ element.userName }}</td>
            </ng-container>

            <ng-container matColumnDef="view">
              <th mat-header-cell *matHeaderCellDef>View</th>
              <td mat-cell *matCellDef="let mapping">
                <mat-icon
                  *ngIf="!mapping.deleted"
                  (click)="viewVanListDetails(mapping)"
                  class="cursorPointer"
                  >remove_red_eye</mat-icon
                >
              </td>
            </ng-container>

            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef>Edit</th>
              <td mat-cell *matCellDef="let mapping">
                <mat-icon
                  mdTooltip="Edit"
                  class="mat-icon material-icons"
                  *ngIf="!mapping.deleted && !mapping.userDeleted"
                  role="img"
                  aria-hidden="true"
                  style="cursor: pointer"
                  (click)="editParkingPlace(mapping)"
                  >edit</mat-icon
                >
              </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
              <td mat-cell *matCellDef="let mapping">
                <button
                  md-raised-button
                  color="accent"
                  *ngIf="mapping.deleted || mapping.userDeleted"
                  class="m-r-10 mat_green"
                  (click)="
                    activate(mapping.userParkingPlaceMapID, mapping.userDeleted)
                  "
                >
                  Activate
                </button>
                <button
                  md-raised-button
                  color="primary"
                  *ngIf="!mapping.deleted && !mapping.userDeleted"
                  class="m-r-10 mat_blue"
                  (click)="deactivate(mapping.userParkingPlaceMapID)"
                >
                  Deactivate
                </button>
              </td>
              <!-- <td colspan="4" class="p-r-0" mat-cell>
          <button md-raised-button color="primary" [disabled]="searchForm.invalid" class="pull-right" (click)="changeTableFlag(false)">Add Work Location</button>
        </td> -->
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <div>
            <button
              mat-raised-button
              color="primary"
              id="addButton"
              [disabled]="!parking_Place || !designationID"
              class="pull-right mat_blue"
              (click)="
                showForm(
                  searchStateID,
                  parking_Place.parkingPlaceID,
                  designationID
                )
              "
            >
              Add Mapping
            </button>
          </div>
          <div
            class="pull-center"
            style="margin-top: 35px; text-align: center"
            *ngIf="
              filteredavailableEmployeeParkingPlaceMappings.data.length === 0
            "
          >
            <strong>No Records Found</strong>
          </div>
          <mat-paginator
            #paginatorSecond
            [hidden]="
              filteredavailableEmployeeParkingPlaceMappings.data.length === 0
            "
            [pageSizeOptions]="[5, 10, 25]"
            [pageSize]="5"
            showFirstLastButtons
          ></mat-paginator>
        </div>
      </form>
    </div>
  </div>
  <!-- </md-card> -->
</div>
